<div class="container">
    <div class="activate page-btn">
        <img class="page-btn-img" src="assets/home-gold.png">
        <h4 class="page-btn-text gold-text">Dashboard</h4>
    </div>
    <div class="page-btn inactive-btn"> 
        <img class="page-btn-img" src="assets/home.png">
        <h4 class="page-btn-text">Dashboard</h4>
    </div>
    <div class="page-btn inactive-btn"> 
        <img class="page-btn-img" src="assets/home.png">
        <h4 class="page-btn-text">Dashboard</h4>
    </div>
    <div class="page-btn inactive-btn">
         <img class="page-btn-img" src="assets/home.png">
        <h4 class="page-btn-text">Dashboard</h4>
    </div>

</div>