@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('../css/article_locker.css');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}




/*  article */
.wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.content {
    display: flex;
    justify-content: space-evenly;
    /* place-items: center center ; */

}

.back {
    width: 40px;
}

.pay-header,
.payment-content {
    display: flex;
    justify-content: space-between;
}

.pay-btn {
    margin: auto;
}

.payments {
    width: 90%;
}

.jewellery-card {
    height: initial;
    margin-top: 8%;
}

.jewellery-img {
    width: 35%;
    height: 50%;
    overflow: hidden;
}

.jw-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.article_display {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.item-details {
    width: 40%;
}

.topic {
    border-bottom: 2px solid #BB8A04;
    margin: 0 0 20px 0;
    text-align: center;
}

.row {
    margin: 2% auto;
    display: flex;
    flex-direction: column;
}

.Locker_Allocation {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    align-items: center;
}

.Locker_Allocation .jewellery-img {
    width: 70%;
    height: 85%;
    overflow: hidden;
}

.locker_no {
    background: #bb8a04;
    color: white;
    border-radius: 20px;
    padding: 10%;
    margin: 18%;
    font-size: x-large;
}

.payment {
    background: #bb8a04;
    color: white;
}

.payment {
    /* border-bottom: 2px solid white; */
    /* max-width: fit-content; */
}

.sec {
    display: flex;
    justify-content: space-between;
}

.p-btn {
    /* margin: 5%; */
    border-radius: 20px;
    padding: 1% 6%;
    border: #bb8a04 solid 1px;
    color: #bb8a04;
    background-color: white;
    margin-top: 5%;
}

.pay {
    border-bottom: 3px white solid;
}

.p-btn {
    margin: 5%;
}

.pay label {
    font-size: 1.5em;
}

.sec-btn {
    display: flex;
    justify-content: space-around;
}

.column {
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.locker_reserve {
    display: flex;
    justify-content: space-evenly;
}

.reserve {
    display: grid;

    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
}

.selection {
    outline: none;
    border: solid 1px #bb8a04;
    border-radius: 20px;
    padding: 2%;
}

.popup {
    width: 31%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 4% 2%;
    display: none;
    /* padding: 4em ; */
    border: 1px solid #bb8a04;
    border-radius: 20px;
    z-index: 199;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 20px rgb(0 0 0 / 30%);
    background: rgb(255, 255, 255);
}

.show-popup {
    
    display: flex;
}

span {
    color: gray;
    font-size: small;
}





.button-wrap {
    position: relative;
    text-align: center;
    top: 50%;
    margin-top: -2.5em;
}

@media (max-width: 40em) {
    .button-wrap {
        margin-top: -1.5em;
    }
}

.button-label {
    display: inline-block;
    padding: 1em 2em;
    margin: 0.5em;
    cursor: pointer;
    border-radius: 0.25em;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.22);
    transition: 0.3s;
    user-select: none;
}

.button-label h1 {
    font-size: 1em;
    font-family: "Lato", sans-serif;
}

.button-label:hover {
    background: darken(#efefef, 10%);
    color: darken(#292929, 10%);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.32);
}

.button-label:active {
    transform: translateY(2px);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0px -1px 0 rgba(0, 0, 0, 0.22);
}

#yes-button:checked+.button-label {
    background: #2ECC71;
    color: #efefef;
}

#yes-button:checked+.button-label:hover {
    background: darken(#2ECC71, 5%);
    color: darken(#efefef, 5%);
}

#no-button:checked+.button-label {
    background: #D91E18;
    color: #efefef;
}

#no-button:checked+.button-label:hover {
    background: darken(#D91E18, 5%);
    color: darken(#efefef, 5%);
}


.hidden {
    display: none;
}

button,
a {
cursor: pointer; 
}
.btn-confirm {
    outline: none;
    background: #bb8a04;
    border: 1px solid #bb8a04;
    color: white;
    font-size: 1em;
    border-radius: 20px;
    padding: 1% 20%;
    margin: 3%;
}
.btn-cancel {
    background: #ececec;
    border: 1px solid #bb8a04;
    color: #979797;


}
.blur {
    filter: blur(5px);
  }