@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap'); 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; 
}

  


/*  article */
.wrapper{
    flex-direction: column; 
    overflow-y: scroll;
}
.content{
    display: flex;
    width: 100%; 
    justify-content: space-evenly;
    /* place-items: center center ; */

}  
.back{
    width: 40px;
}  
.article{
    display: flex;
    flex-direction: column; 
    /* border: 1px solid black; */
    width: 50%;
}

.article-info{
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-evenly;

   
}



.info-div{
    /* margin-top: 10%; */
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 47%;
    box-shadow: 0 2px 20px rgb(0 0 0 / 30%);
    border-radius: 20px;
    
}

.due-payment{
    /* border: 1px solid black; */

}
.his-div{
    box-shadow: 0 2px 20px rgb(0 0 0 / 30%);
    border-radius: 20px;
}
.payment-history{
    display: flex;
    flex-direction: column;
    /* justify-content:space-around; */
    place-items: center;
    width: 40%;
    /* height: 70%;
    overflow-y: scroll; */
  
}
.payment-content label{
    padding-top: 5%;
} 
.pay-header,.payment-content{
    display: grid;
    /* flex-direction: column; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: left;
}
.pay-header label{
    font-weight: bold;
}
.payments{
    /* align-items: center; */
    /* height: 70%;
    overflow-y: scroll; */
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}
.pay-btn{
    background-color: #bb8a04;
    color: white;
    /* width: 25%; */
    border-radius: 20px;
    border: none;
    outline: none;
    margin: auto;
    padding: 11% 75%;
    font-size: 1rem;
}

.jewellery-card{
    background-color: white;
    position: relative;
    width: 20%;
    height: 80%;
    padding: 1%;
    padding-bottom: 2%;
    /* border: solid 1px #bb8a04; */
    border-radius: 20px;
    /* margin-left: 5%; */
    box-shadow: 0 2px 20px rgb(0 0 0 / 15%);
}
.jewellery-img{
    width: 100%;
    height: 35%;
    margin-bottom: 4%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.jw-img{
    width: 50%;
    height: 90%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    /* height: 50%; */
    /* width: 50%; */
    border-radius: 25px;
    box-shadow: 0 2px 20px rgb(187 138 4 / 30%);
}
 
.jewellery-card:hover{
    border: 1px solid #b7b7b7; 
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}
.tag-overdue {
    background-color: #ff01018a;
  } 
  .tag-pending {
    background-color: #bb8a048c;
  } 
  .tag-auctioned {
    background-color: #0000007d;
  }
  .tag-completed {
    background-color: #4bcf6c7d;
  }
  .tag-retrieved {
    background-color: #5452527d;
  }
  .tag-warn{
    background-color: #dca12b7d;
    margin: 1%;
  }

 
.jw-date-name{
    display: flex;
    justify-content: space-between; 
}
.jw-date{
   
    margin-bottom: 5%;
}
.status-pending{
    color:#bb8a04 ;
}
.status{
    color:rgb(255, 255, 255) ;
    padding: 1% 3%;
    border-radius: 10px;
    font-size: 0.9em;
}


.jw-status{
    display: flex;
    gap: 50%;
    margin-bottom: 5%;
}

.jw-dt{
    color:rgb(158, 158, 158);
    font-weight:400;
}

.jw-st{
    color:rgb(168, 168, 62);
    font-weight:600;
}
.sub-title{
    font-size: 1rem;
    border-bottom: 2px solid #bb8a04;
    /* margin: 0 5%; */
    text-align: center;
    
    padding: 2%;
    margin: 4% 18% 5%;
}

form{
    margin: 5% auto;
    display: flex;
    place-content: center;
}
.a-pay{
    margin: 5% auto;
    padding: 2% 22%;
    background: #bb8a04;
    border-radius: 20px;
    outline: none;
    color: white;
}
.payHistory{
    width: 90%;
    margin: 9% auto;
    overflow-y: scroll;
}