@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

:root {
    --clr-primary: rgb(215, 184, 8);
    --clr-secondary: rgb(161, 138, 3);
    --clr-white: rgb(255, 255, 255);
    --clr-black: rgb(0, 0, 0);
    --clr-gray: rgb(32, 32, 32);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
}

.container {
    margin: 0;
    padding: 0 10px;
    padding-left: 260px;
}

button {
    cursor: pointer;
}
