@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


*{
   margin:0;
    padding:0;
    box-sizing: border-box;
  }

  /*  */
  body{
    font-family: 'Poppins';
    display: flex;
    overflow-y: hidden;
    overflow-x:hidden;

}

.page{
    display:flex;
    width: 100%;
    height:100vh;
}

.left{
    min-width: 250px;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    padding: 20px 10px;
    border-radius: 0 25px 25px 0;
    position: relative;
    transition: all 0.7s ease;
    overflow-y: hidden;
    z-index: 7;
}

.profile{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.profile p{
    padding-top: 10px;
}

.page .left .profile .profile-pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page .left .profile .profile-pic img{
    width:150px;
    height:150px;
    border-radius: 50%;
    object-fit: cover;
}

.page .left .profile .name{
    color: white ;
}



.btn-set{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
}

.btn-set p{
    color: white;
}

.btn-set .auc p{
    
    color: #BB8A04;
}

.btn-set .auc{
    border: 2px solid #BB8A04;
    background-color: white;
}

.btn-set a{
    padding: 10px 20px;
    background-color: #212121;
    border-radius: 30px;
    margin-bottom: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.btn-set a img{
    width:40px;
    padding-right: 15px;
}

.btn-set a:hover{
   opacity: 0.5;

}

.left .lgout{
    display: flex;
    align-items: center;
    justify-content: center;
}

.left .lgout a{
    text-decoration: none;
    font: bold;
    color: #BB8A04;
    font-size: large;
    border: 2px solid #BB8A04;
    padding: 5px 50px;
    border-radius: 20px;
}




.right{
    flex: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.right-heading{
    padding: 15px 15px 0 15px;
    display: flex;
    justify-content: space-between;
    width: 100%; 
    align-items: center;
    position: sticky;
    top: 0; 
    backdrop-filter: blur(15px);
    z-index: 8;
    
}

.right-side h1{
    border-bottom: 2px solid #BB8A04;
    margin: 0 20px;
}

.right-side .backbtn img{
    height: 40px;
    width:50px;
 }


.vogue {
    animation-name: logo;
    animation-duration:18s;
    width: 200px;
    animation-iteration-count: infinite;
}

.right-side{
    display: flex;
}



.bars{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
}


.bars img{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.page-name{
    display: flex;
    align-items: center;
    justify-content: center;
}

.back{
    display: flex;
    align-items: center;
    justify-content: center;
}
 



/* for search bar */
.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 50px;
    overflow-y: hidden;
    position: relative;
    backdrop-filter: blur(15px);
    z-index: 8;
} 

.filter-open button{
           padding: 10px 20px;
            background-color: #222;
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}


input[type=text] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 20px;
    background-color: black;
    color:white;
    background-repeat: no-repeat;
    padding: 8px 20px 8px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }

  input[type=text]:focus {
    background-color: white;
    color:black;
    width: 100%;
  }



/* 730 */
@media screen and (max-width:1188px) {
    .vogue {
        animation: none;
        width: 100px;
    }
    .right-side h1{
        font-size: medium;
    }

    
    .right-side .backbtn img{
        height: 30px;
        width:40px;
     }
     
    .left{
        z-index: 60;
        position: absolute;
        margin-top: 55px;
        height: 94vh;
        border-radius: 0 ;
    }

    .inside-page{
      padding:0;
    }
  

    .bars img{
        width: 20px;
        height: 20px;
        border-radius: 5px;
    }

    /*  */

}

  /*  */




  /* Float four auction-page-columns side by side */
  .auction-page-column {
    width: 160px;
    /* padding: 0 2px; */
    margin:5px 15px 5px 15px;
    position: relative;
    transition: top ease 0.5s;

  }
  
    .auction-page-row{
        overflow-y: scroll;
        height: 580px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        flex: 4;
        margin-left: 20px;
        /* justify-content: center; */
    }

  
  
  .auction-page-column .card img {
    width: 130px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
    
  }
  
  .card p{
    padding: 2px 0;
    font-weight: 600;
  }

  .card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     padding: 30px 0;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 4px rgba(0,0,0,0.2);

  }

  .details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .card-view-btn{  
    position: absolute;
    top: 240px;
    left: 21px;
    
  }
  .card-view-btn a {
    text-decoration: none;
    background-color: #c39823;
    border-radius: 20px;
    color: white;
    padding: 10px 40px;
  }

  @keyframes btn {
    0%   {transform: rotateY(0);}
    50%  {transform: rotateY(360deg);}
    100%  {transform: rotateY(0);}
    
}
  
.card-view-btn:hover {
    animation-name: btn;
    animation-duration:10s;
    animation-iteration-count: infinite;
}



.filter-and-article {
    display: flex;
    justify-content: space-around;
  }


/* filter css */

         .outer-filter{
            overflow-y: hidden;
            right: 0;
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
            flex: 1;
            min-width: 230px;
            max-width: 230px;
            /* margin-top: 50px; */
         }



          /* Styles for filter section */
          #filter-section {
            background-color: #fff;
            /* border: 1px solid #ccc; */
            border-radius: 5px;
            padding: 10px;
            /* box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2); */
          }
          
          .li{
            display: flex;
            flex-direction: column;
          }

          #filter-section .ul {
            margin: 0;
            padding: 0;
            list-style: none;
          }

          #filter-section .ul .li {
            margin-bottom: 10px;
          }
          #filter-section .ul .li input,#filter-section .ul .li select {
            padding:10px;
            font-size: large;
            border-radius: 5px;
          }
          
          .button-set{
            display: flex;
            justify-content: space-around;
            margin-top: 10px;
          }
          #filter-section button {
            /* width:100%; */
            padding: 10px 20px;
            background-color: #222;
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
          }

          #filter-button:hover {
            background-color: #444;
          }
          
          .filter-cancel-button{
                /* width:100%; */
                padding: 7px 0px;
                background-color: #222;
                text-decoration: none;
                color: #fff;
                border: none;
                border-radius: 5px;
                font-size: 16px;
                cursor: pointer;
                transition: background-color 0.3s;
                box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
          }

.filter-cancel-button:hover {
   background-color: #444;
}
          
@media screen and (max-width:820px){
  .auction-page-column {
    
    margin:10px 10px 10px 0;  

  }
  
    .auction-page-row{
        margin-left: 20px;
        
    }
}

 @media screen and (max-width:440px){
  .outer-filter{
    position: absolute;
    z-index: 10;
    right:0;
 }

 .search{
  display: flex;
  flex-direction: column;
} 

.filter-open button{
  margin-top: 10px;
}
 }

  .hide{
    display: none;
 }

 .profile-hidden{
    filter:brightness(50%);
    cursor:pointer;
}

.hidden{
    display:none;
}








