@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif;  */
}
body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    overflow-y: hidden;
}

.page{
    display:flex;
    width: 100%;
    height:100vh;
}

.left{
    width: 250px;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    padding: 40px 10px;
    border-radius: 0 25px 25px 0;
    position: relative;
    transition: all 0.7s ease;
    overflow-y: hidden;
    z-index: 7;
}

.hide{
   display: none;
}

.profileImg {
    height: 70%;
    border-radius: 100%;
}
hr{
    border: 0;
    height: 1px;
    background: rgb(255, 255, 255);
    /* background-image: linear-gradient(to right, #ccc, #333, #ccc); */
}
.profile_name{
    color: #BB8A04;
    /* font-size: large; */
}
.profile{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.profile p{
    padding-top: 10px;
}

.page .left .profile .profile-pic img{
    width:100px;
    height:100px;
}

.page .left .profile .name{
    color: white ;
}


.right{
    flex: auto;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    position: relative;
}

.right-heading{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%; 
    align-items: center;
    position: sticky;
    top: 0; 
    background-color: rgba(255, 255, 255, 0.669);
    backdrop-filter: blur(15px);
    z-index: 8;
}

.right-side h1{
    border-bottom: 2px solid #BB8A04;
    margin: 0 20px;
}




@keyframes logo {
    0%   {transform: rotateY(0);}
    50%  {transform: rotateY(360deg);}
    100%  {transform: rotateY(0);}
    
}

.vogue {
    /* animation-name: logo;
    animation-duration:18s; */
    width: 200px;
    /* animation-iteration-count: infinite; */
}

.right-side{
    display: flex;
}





.bars img{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.bars{
    z-index: 100;
    cursor: pointer;
}



@media screen and (max-width:670px) {
    .vogue {
        animation: none;
        width: 100px;
    }

    .right-side h1{
        /* margin: 0 10px ; */
        font-size: medium;
    }

    
    .left{
        z-index: 60;
        position: absolute;
        margin-top: 55px;
        height: 94vh;
        border-radius: 0 ;
    }



    .bars img{
        width: 20px;
        height: 20px;
        border-radius: 5px;
    }

}

@media screen and (max-width: 400px) {
    .right{
        padding-left:0;
     }
}

    
    
