
        .inside-page{
            display: flex;
            align-items: center;
            justify-content: center;
            /* background-color: gray; */
    
        }
        .gold-rates{
            display: flex;
            border-radius: 10px;
            margin-top: 10px;
            /* background-color: #E5E5E5; */
            margin-bottom: 20px;
        }

        .gold-rates .col1{
            display: flex;
            flex-direction: column;
        }

        .gold-rates .col2{
            display: flex;
            flex-direction: column;
        }

        .gold-rates .col3{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .gold-rate-card{
            display: flex;
            align-items: center;
            max-width: 300px;
            border: 2px solid #c39823;
            border-radius: 10px;
            background-color: #FFE499;
            padding: 20px;
            margin:20px 30px;
        }

        .col3 .loan-interest{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 150px;
            height: 150px;
            padding: 60px;
            margin: 0 20px; 
            border: 2px solid #c39823;
            border-radius: 100%;
            background-color: #FFE499;
        }

        .gold-rate-card label{
            font-size: x-large;
            font-weight: 600;
            padding: 0 10px;
            border-right: 4px solid #c39823;
        }

        .gold-rate-card p{
            font-size: x-large;
            font-weight: 600;
            padding: 5px 10px;
        }

        .loan-interest label{
            font-size: x-large;
            font-weight: 600;
            
        }

        .loan-interest p{
            font-size: x-large;
            font-weight: 600; 
        }
    
        @media screen and (max-width:958px) {
            .gold-rate-card{
               
                margin:20px 5px;
            }

            .gold-rates{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
            }

            
        }

        @media screen and (max-width:750px){
            .gold-rate-card{
               
                margin:10px 0;
            }

            .gold-rates{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
            }
        }