nav {
    max-height: 120px;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@import 'base.css';

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    min-width: 260px;
    padding: 2rem;
    background-color: var(--clr-black, black);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    z-index: 10000;
}

.sidebar_header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem; 
}

.sidebar_header > p {
    margin-top: 1rem;
    color: var(--clr-primary, white);
}

.profile_image{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: green;
    overflow: hidden;
}

.profile_image > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.link {
    width: 100%;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    
    justify-content: center;

}

.link > a {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0.5rem;
    text-decoration: none;
    color: var(--clr-white, white);
    gap: 20px;
    border-radius: 10px;
    background-color: var(--clr-gray, gray);
}

.link > a:hover {
    background-color: var(--clr-white, gray);
    color: var(--clr-primary, gold);
}


.active {
    background-color:  white !important;
}

.active > p {
    color: var(--clr-primary, gold);
}

.sidebar_footer {
    margin-top: 6rem;
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.sidebar_footer a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 2px solid var(--clr-primary, gold);
    color: var(--clr-primary, gold);
}

.sidebar_footer a:hover {
    background-color: var(--clr-primary, gold);
    color: var(--clr-black, black);
}
