@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.vogue {
    width: 10vw;
    top: 0;
    right: 2vw;
    position: absolute;
}

.center {
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.nav {
    width: 18vw;
    height: 100vh;
    background-color: black;
    border-radius: 0px 2vw 2vw 0px;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.profile {
    height: 20vh;
    width: 18vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    flex-direction: column;

}

.profileImg {
    height: 70%;
    border-radius: 100%;
}

.user-name {
    color: #bb8a04;
    text-align: center;
}

.container {
    padding-top: 10%;
    height: 60vh;
    width: 18vw;
    background: rgba(204, 204, 204, 0.08);
    

}
.activate{ 
    background-color: rgba(255, 255, 255);  
    border: 3px solid #BB8A04;
    
}
.logout-btn .inactive-btn .center{
    padding: 20px;
}

.page-btn {
    width: 12vw;
    height: 5vh;
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    margin-top: 0.5vw;
    border-radius: 10rem;
    display: flex;
    justify-content: space-evenly;
}
.inactive-btn{
    background: rgba(255, 255, 255, 0.07); 
}

.page-btn-img {
    height: 3.5vh;
    top: 0;
    bottom: 0;
    margin: auto;

}

.page-btn-text {
    top: 0;
    bottom: 0;
    margin: auto;
    color: white;
    font-size: 1vw;
}

.logout-btn {
    width: 10vw;
    height: 5vh; 
    border: 3px solid #BB8A04;
    border-radius: 10vw; 
    position: relative;
}
.gold-text{
    color: #BB8A04; 
    text-align: center;
     
}

.toggler{
    display: none;
}


@media  screen and (max-width: 1500px) {
    .all{
        width: 100%;

    }

    .toggler{
        display:block;
    }

    .nav{
        display: none;
    }
}

.toggler{
    position:absolute;
    left: 10px;
    top: 10px;
    z-index: 10;
    cursor: pointer;
    padding: 4px;
    background-color: #BB8A04;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
}        
.bar{
    padding:  2px 10px;
    background-color: black;
    margin: 2px;
    border-radius: 10px;   
}
.hidePanel{
    display: none;
}
.a{
    color: inherit;
}
