
.whole {
    z-index: 20;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);

}

.loading-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    max-width: 350px;
    margin: 200px auto;
    padding: 50px;
    /* border: 2px solid #BB8A04; */
    border-radius: 20px;
    box-shadow: 0 4px 8px 4px rgba(0,0,0,0.2);  

}


.loading-box p {
    font-size: x-large;
    font-weight: 900;
    padding-bottom: 60px;
}

@media screen and (max-width:355px) {
    .loading-box {
        max-width: 300px;
        padding: 20px;

    }
}

@media screen and (max-width:300px) {
    .loading-box {
        max-width: fit-content;
    }
}

