@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; 
}

  


/*  article */
.wrapper{
    flex-direction: column; 
    overflow-y: scroll;
}
.content{
    display: flex; 
    justify-content: space-around;
    /* place-items: center center ; */
    height: 80vh;

}  
.back{
    width: 40px;
} 
.content,.locker-details,.res-details,.card ,.nxt{
    display: flex;
    /* border: 1px solid rgba(30, 29, 29, 0.811) ; */
}
.locker-details,.res-details,.card,.nxt{
    flex-direction: column;
    /* padding: 2%; */
    
}
.card {
    padding: 2% 4%;
    box-shadow: 0 2px 20px rgb(0 0 0 / 15%);
    border-radius: 20px;
    margin: 1% auto;
    width: 70%;
}
 .details{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    justify-content: space-between;
    /* border: 1px solid rgba(30, 29, 29, 0.811) ; */
 }
.article{
    /* border: 1px solid rgba(30, 29, 29, 0.811) ; */
    width: 100%;
    height: 50%;
    overflow: hidden;
}
.article-pic{
    width: 100%;
    height: 100%; 
    object-fit: cover;
}
.locker{
    /* border: 1px solid rgba(30, 29, 29, 0.811) ; */
    border-radius: 20px 20px 0 0 ;
    background-color: #bb8a04bb;
    color: white;
    /* margin: auto; */
}
.locker label{
    font-size: 3rem;
    margin: auto;
    text-align: center;
    padding: 5%;
}
.black{
    color: rgba(30, 29, 29, 0.811);
    border: 1px solid rgba(30, 29, 29, 0.811) ;
   }
   .tag{
      
     border-radius: 20px;
     padding: 2% 3%;
     font-size: 1rem;
     background-color: white;
   }
   .res-details{
    justify-content: space-evenly;
    width: 40%;
   }
   .locker-details{
    width: 25%;
   }
   h2{
    border-bottom: 2px solid #bb8a04;
   }
   .details label{
        margin: 2% 0;
   }