@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins';
    display: flex;
    overflow-y: hidden;
    overflow-x:hidden;
}

.page{
    display:flex;
    width: 100%;
    height:100vh;
}

.left{
    min-width: 250px;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    padding: 20px 10px;
    border-radius: 0 25px 25px 0;
    position: relative;
    transition: all 0.7s ease;
    overflow-y: hidden;
    z-index: 7;
}

.hide{
   display: none;
}

.profile{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.profile p{
    padding-top: 10px;
}

.page .left .profile .profile-pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page .left .profile .profile-pic img{
    width:150px;
    height:150px;
    border-radius: 50%;
    object-fit: cover;
}

.btn-set{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
}

.btn-set .dash{
    border: 2px solid #BB8A04;
    background-color: white;
}

.btn-set .dash p{
    color: #BB8A04;
}
.btn-set .staf p{
    color: #BB8A04;

}

.btn-set .staf{
    border: 2px solid #BB8A04;
    background-color: white;
}

.btn-set a{
    padding: 10px 20px;
    background-color: #212121;
    border-radius: 30px;
    margin-bottom: 10px;
}

.btn-set a img{
    width:40px;
    padding-right: 15px;
}


.page .left .profile .name{
    color: white ;
}

.btn-set p{
    color: white;
}

.btn-set a{
    text-decoration: none;
    display: flex;
    align-items: center;
}


.left .lgout{
    display: flex;
    align-items: center;
    justify-content: center;
}

.left .lgout a{
    text-decoration: none;
    font: bold;
    color: #BB8A04;
    font-size: large;
    border: 2px solid #BB8A04;
    padding: 5px 50px;
    border-radius: 20px;
}




.right{
    flex: auto;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    position:relative;
}

.right-heading{
    padding: 15px 15px 0 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    position: sticky;
    top: 0; 
    background-color: rgba(255, 255, 255, 0.669);
    backdrop-filter: blur(15px);
    z-index: 8;
    
}

.right-side h1{
    border-bottom: 2px solid #BB8A04;
    margin: 0 20px;
}

.right-side .backbtn img{
    height: 40px;
    width:50px;
 }


.vogue {
    /* animation-name: logo; */
    animation-duration:18s;
    width: 200px;
    animation-iteration-count: infinite;
}

.right-side{
    display: flex;
    align-items: center;
}


.bars img{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.bars{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
}



/* for search bar */
.search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 20px 10px 20px;
}

.locker-summary{
    display: flex;
}

.locker-sum-1{
    display: flex;
    min-width: 120px;
    flex-direction: column;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    border: 2px solid #BB8A04;
    border-radius: 5px;
    padding:10px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);

}

.locker-sum-1:hover{
    transform: scale(1.1);
}

.locker-sum-1 .topic-label{
    font-size: large;
    font-weight: 600;
    border-bottom:2px solid #BB8A04;
}

input[type=text] {
    width: 10rem;
    /* box-sizing: border-box; */
    border-radius: 20px;
    font-size: 20px;
    color:white;
    background-color: black;
    background-image: url(http://localhost/vogue/public/img/search-icon.png);
    background-repeat: no-repeat;
    padding: 10px 20px 10px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);

  }

  input[type=text]:hover {
    width: 100%;
  }

.search-bar>input::placeholder {
    font-size: x-large;
}






@media screen and (max-width:1188px) {
    .vogue {
        animation: none;
        width: 100px;
    }
    .right-side h1{
        font-size: large;
        margin: 0 10px ;
    }

    .right-side .backbtn img{
        height: 30px;
        width:40px;
     }
     
    .left{
        height: 94vh;
        z-index: 60;
        position: absolute;
        margin-top: 55px;
        border-radius: 0;
    }
 
    .right{
        padding-left: 15px;
    }

    .bars img{
        width: 20px;
        height: 20px;
        border-radius: 5px;
    }
    
}

@media screen and (max-width:670px) {
    .vogue {
        animation: none;
        width: 100px;
    }
    .right-side h1{
        font-size: large;
        margin: 0 10px ;
    }


    .left{
        height: 94vh;
        z-index: 60;
        position: absolute;
        margin-top: 55px;
        border-radius: 0;
    }
 
    .right{
        padding-left: 15px;
    }

    .bars img{
        width: 20px;
        height: 20px;
        border-radius: 5px;
    }
    
}




.profile-hidden{
    filter:brightness(50%);
    cursor:pointer;
}

.hidden{
    display:none;
}



/* locker dashboard cards */

    .card-set {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin: 5px;
      }
      .lc-card {
        font-family: 'Montserrat','sans-serif';
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      }

      .lc-card:hover{
        transform: scale(1.1);
      }

      .lc-no {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: large;
        font-weight: bold;
      }

      .lc-img {
        display: flex;
        align-items: center;
        position: relative;
      }

      .lc-img img {
        width: 100px;
        object-fit: cover;
      }

      .lc-img .nonstatic-img {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0;
      }

      .lc-img .nonstatic-img:hover {
        opacity: 1;
      }

      .down-arrow{
        background-color: white;
      }

      .toggle-button img{
        width:20px;
        height:20px;
        background-color: white;
      }
      .show {
        display: block;
      }
 

      .hover-des {
        display: block;
      }

      .hide{
        display: none;
      }

      .hover-des .hover-des-field {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
        /*justify-content: space-between;*/
      }

      .hover-des-field .label {
        font-size: large;
        font-weight: bold;
        border-bottom: 1px solid #bb8a04;
        
      }

      .hover-des-field .key {
        color: green;
      }



      @media screen and (max-width:607px){
          .search{
            flex-direction: column;
            justify-content: space-around;
          }

          .locker-summary{
            margin-top: 10px;
          }
      }


      @media screen and (max-width:450px){
         
          .locker-summary{
            margin-top: 10px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }

          .locker-sum-1{
            margin-top: 10px;

          }
      }

