@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

 
.center {
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.log-container {
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
    box-shadow: 0 0 20px #ccc;
    position: absolute;
    width: 80vw;
    height: 80vh;
    background-color: white;
    display: flex;
}

.signIn {
    position: relative;
    width: 25vw; 
    background-color: #bb8a04;
}

.login {
    position: relative;
    width: 60vw; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input {
    border: none;
    outline: none;
    background: none;
    font-size: 1vw;
    text-align: center;
    width: 60%;
    margin: auto; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.4); 
}

.button { 
    margin:auto;
    width: 15vw;
    height: 5vh;
    text-align: center;
    border-radius: 5rem;
    color: #fff; 
    font-size: 0.9vw; 
    cursor: pointer;
    border: none;
    background: #BB8A04;
}
.form{
    height: 80%;
    position: absolute;
    display: flex;
    flex-direction: column;
}
 .login-Img{ 
     width: 35%;  
     position: relative;
     margin: auto;
     right: 0%;
     bottom: 0%;
     
 }

.p,
.h2 {
    text-align: center;
    margin: auto;
}
 

.signup {  
    width: 10vw;
    height: 5vh;
    border: #fff 2px solid;
    border-radius: 5rem;
    color: #BB8A04;
    font-size: 1vw;
    cursor: pointer;
     padding: auto;
    background: white; 
}

 

.logo {
   width: 10%;
    animation: rotate infinite 2s linear;

}
.reg-section{
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-image: linear-gradient(to right, white, #BB8A04 );
    height: 100%;
}
@keyframes rotate {
    0% {
        transform: perspective(400px) scaleX(1);
    }

    100% {
        transform: perspective(400px) scaleX(-1);
    }
} 
.is-invalid{ 
    border: none;
    outline: none;
    background: none;
    font-size: 1.2vw;
    text-align: center;
    width: 50%;
    margin: auto; 
    border-bottom: 1px solid red;
}
.invalid-feedback{
    color: red;
    font-size: 0.6em;
    text-align: center;
    
}
.invalid{ 
    width: 80%;
    border-radius: 10px;
    text-align: center;
    color: rgb(233 14 14);
    background: rgb(255 199 199);
    margin: auto;
    font-size: 1vw;
}
.success{
    width: 80%;
    border-radius: 10px;
    text-align: center;
    color: #836000;
    background: #f9dc8b;
    margin: auto;
    font-size: 1vw;
 
}