@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');



.page-manual-password-enter{
    font-family: 'Poppins';
    position: absolute;
    top:0;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:100%; 
    backdrop-filter: blur(10px);
    z-index: 10;
    /* padding:20px; */
    
}

.entire-password-form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content-manual-password-enter{
    background-color: white;
    display: flex;
    border: 2px solid goldenrod;
    padding:20px;
    border-radius: 20px;
}


.password-form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.password-form-group input{
    width: 100%;
    border:none;
    outline: none;
    border-radius: 10px;
    padding: 10px 30px;
    margin: 10px;
    background-color: blanchedalmond;
}

.password-form-group label{
    font-size: medium;
}

.twoButtons{
    display: flex;
    flex-direction: column;

}

.twoButtons .ok-btn{
    width: 100%;
    border: none;
    padding: 10px 100px;
    font-size: medium;
    color: white;
    background-color: #bb8a04;
    border-radius: 20px;
    text-decoration: none;
    margin-top: 10px;
    width: 300px;
    outline: none;
    
}

.twoButtons .cancel-btn{  
    width: 100%;
    border: 2px solid #bb8a04;
    padding: 10px 40px;
    font-size: large;
    color: #bb8a04;
    border-radius: 20px;
    /* background-color: red; */
    margin-top: 10px;
    width: 300px;
} 

