

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
      

        .current-gold-rates{
           background-color: white ;
           padding:10px;
           border-radius: 20px;
           /* border: 2px solid goldenrod; */
           font-family: 'Poppins';
           box-shadow: 0 2px 20px rgb(0 0 0 / 30%);
        }

        .gold-rates{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
        
        }

        .gold-rates .col1{
            display: flex;
            /* flex-direction: column; */
        }
        
        .gold-rates .col2{
            display: flex;
            /* flex-direction: column; */
        }
        
        .gold-rates .col3{
            display: flex;
            /* margin: 0 30px; */
            justify-content: center;
            align-items: center;
        }
        .gold-rate-card{
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 300px;
            border: 2px solid #c39823;
            border-radius: 10px;
            background-color: #FFE499;
            padding: 5px 10px;
            margin: 0 25px;
        }

        .col3 .loan-interest{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 100px;
            padding: 10px;
            margin: 0 20px; 
            border: 2px solid #c39823;
            border-radius: 100%;
            background-color: #FFE499;
        }

        .gold-rate-card label{
            font-size: large;
            font-weight: 600;
            padding: 0 10px;
            border-bottom: 4px solid #c39823;
        }

        .gold-rate-card p{
            font-size: large;
            font-weight: 600;
            padding: 5px 10px;
        }

        .loan-interest label{
            font-size: large;
            font-weight: 600;
            
        }

        .loan-interest p{
            font-size: large;
            font-weight: 600; 
        }
    
        @media screen and (max-width:958px) {
            .gold-rate-card{
               
                margin:20px 5px;
            }

            .gold-rates{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
            }

            
        }

        @media screen and (max-width:750px){
            .gold-rate-card{
               
                margin:10px 0;
            }

            .gold-rates{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
            }
        }