
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins';
    display: flex;
    overflow-y: hidden;
    overflow-x:hidden;
    background-color:  #e8e6e6;

}

.page{
    display:flex;
    width: 100%;
    height:100vh;
}

.left{
    min-width: 250px;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    padding: 20px 10px;
    border-radius: 0 25px 25px 0;
    position: relative;
    transition: all 0.7s ease;
    overflow-y: hidden;
    z-index: 7;
}

.hide{
   display: none;
}



.profile{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.profile p{
    padding-top: 10px;
}

.page .left .profile .profile-pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page .left .profile .profile-pic img{
    width:150px;
    height:150px;
    border-radius: 50%;
    object-fit: cover;
}



.page .left .profile .name{
    color: white ;
}



.btn-set{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
}

.btn-set p{
    color: white;
}

.btn-set .dash p{
    
    color: #BB8A04;
}

.btn-set .dash{
    border: 2px solid #BB8A04;
    background-color: white;
}

.btn-set a{
    padding: 10px 20px;
    background-color: #212121;
    border-radius: 30px;
    margin-bottom: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.btn-set a img{
    width:40px;
    padding-right: 15px;
}

.btn-set a:hover{
   opacity: 0.5;

}



.left .lgout{
    display: flex;
    align-items: center;
    justify-content: center;
}

.left .lgout a{
    text-decoration: none;
    font: bold;
    color: #BB8A04;
    font-size: large;
    border: 2px solid #BB8A04;
    padding: 5px 50px;
    border-radius: 20px;
}




.right{
    flex: auto;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    position: relative;
}

.right-heading{
    padding: 15px 15px 0 15px;
    display: flex;
    justify-content: space-between;
    width: 100%; 
    align-items: center;
    position: sticky;
    top: 0; 
    /* background-color: rgba(255, 255, 255, 0.669); */
    backdrop-filter: blur(15px);
    background-color:  #e8e6e6;

    z-index: 8;
    /* margin-bottom: 20px; */
}

.right-side h1{
    border-bottom: 2px solid #BB8A04;
    margin: 0 20px;
}




@keyframes logo {
    0%   {transform: rotateY(0);}
    50%  {transform: rotateY(360deg);}
    100%  {transform: rotateY(0);}
    
}

.vogue {
    animation-name: logo;
    animation-duration:18s;
    width: 200px;
    animation-iteration-count: infinite;
}

.right-side{
    display: flex;
}





.bars img{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.bars{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
}


.inside-page{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}


.dashboard-items{
    display: flex;
    flex-direction: column;
}

.item-count{
    display:flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-between;
    width: 100%;

}
.count-card{
    display: flex;
    flex-direction: column;
    margin:0 0 10px 0;
    /* border: 1px solid #BB8A04; */
    border-radius: 10px;
    padding:20px;
    width: 200px;
    background-color: white;
    box-shadow: 1px 5px 5px 0 black;
    /* transition: top ease 0.5s; */

}

.count-card:hover{
    margin-top: -10;
}

/* .lc-card{
    margin-right: 0;
} */

.card-topic{
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 10px;   */
}

.vk-count{
    font-style: oblique;
}

.card-topic .name{
    font-weight: bold;
}


.count{
    display: flex;
}

.vk-count{
    display: flex;
    margin:5px;
}





.complaint-chart{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    

}
.chart{
    display: flex;
    background-color: white;
}

.complaint-chart .complaint-tab{
    display: flex;
    flex-direction: column;
    padding: 10px;
    float: left;
    /* border: 2px solid goldenrod;  */
     border-radius: 20px;
     background-color: white;
    box-shadow: 1px 5px 5px 0 black;

}
.complaint-chart .chart{
    display: flex;
    flex-direction: column;
    padding: 10px;
    float: left;
    /* border: 2px solid goldenrod; */
    border-radius: 20px;
    margin-right: 10px;
    box-shadow: 1px 5px 5px 0 black;

}

.topic-income{
   display: flex;
   /* align-items: center; */
   justify-content: space-around;
   padding:10px;
   /* border-bottom: 1px solid goldenrod; */
   font-weight: bold;
   font-size: large;
   margin-bottom: 5px;
}

.topic-gold-rates{
    display: flex;
    font-weight: bold;
    font-size: large;
    margin-left:10px;
}

.topic{
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    /* padding:3px; */
    /* border-bottom: 1px solid goldenrod; */
    font-weight: bold;
    font-size: large;
    margin-bottom: 5px;
 }

.topic .search{
    display: flex;
}

.graph{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    width: 520px;
    height:220px;
}

.complaint-tab .complaint-sec{
    overflow-y: scroll;
    overflow-wrap: break-word;
    overflow-x: hidden;
}

input[type=text] {
    width: 140px;
    box-sizing: border-box;
    border: 2px solid #BB8A04;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    /* background-image: url('http://localhost/vogueMy/public/img/search-icon.png'); */
    /* background-image: url('searchicon.png'); */
    /* background-position: 10px 10px;  */
    background-repeat: no-repeat;
    padding: 15px 20px 15px 10px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }

  input[type=text]:focus {
    width: 100%;
  }

.search-bar>input::placeholder {
    color: rgba(82, 82, 82, 0.608);
}

@media screen and (max-width:670px) {
    .vogue {
        animation: none;
        width: 100px;
    }

    .right-side h1{
        /* margin: 0 10px ; */
        font-size: medium;
    }

    
    .left{
        z-index: 60;
        position: absolute;
        margin-top: 55px;
        height: 94vh;
        border-radius: 0 ;
    }



    .bars img{
        width: 20px;
        height: 20px;
        border-radius: 5px;
    }

}

@media screen and (max-width: 400px) {
    .right{
        padding-left:0;
     }
}







.profile-hidden{
    filter:brightness(50%);
    cursor:pointer;
}

.hidden{
    display:none;
}

    
    
