
        .complaint-table {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            margin: auto;
            
        }

        .complaint-set {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 1px solid black;
            border-radius: 10px;
            padding: 10px;
            margin: 6px 0;
            box-shadow: 5px 5px #888888;
            float: left;
            min-width: 1025px;
        }

        .cus-details {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;
            /* border:1px solid black; */
            float: left;
            padding: 5px 0;
        }

        .cus-name {
             display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;

        }

        .cus-name .from {
            /* margin-right: 5px; */
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }

        .cus-name .name {
            margin-right: 5px;
        }


        .date-time {
            display: flex;
            font-style: oblique;
        }

        .complaint {
            display: flex;
            float: left;
        }

        .btns {
            display: flex;
            flex-direction: row;
        }

        .btns .view-btn {
            padding: 3px 15px;
            margin-left: 0px;
            /* color:#bb8a04; */
            border-radius: 20px;
            border: 1px solid black;
        }

        .btns .delete-btn {
            padding: 2px 6px;
            margin-left: 10px;
            border: 1px solid #bb8a04;
            text-decoration: none;
            color: #bb8a04;
            font-size: small;
            border-radius: 20px;
        }

        .check-box input {
            margin-left: 5px;
            width: 18px;
            height: 18px;
            color: black;
        }

        .check-box input {
            background-color: #2196F3;
        }


        @media screen and (max-width:1121px) {
            .complaint-set {
                min-width: 900px;
            }
        }


        @media screen and (max-width:932px) {
            .complaint-set {
                min-width: 800px;
            }
        }

        @media screen and (max-width:831px) {
            .complaint-set {
                min-width: 700px;
            }
        }

        @media screen and (max-width:731px) {
            .complaint-set {
                min-width: 600px;
            }
        }

        @media screen and (max-width:631px) {
            .complaint-set {
                min-width: 500px;
            }
        }

        @media screen and (max-width:531px) {
            .complaint-set {
                min-width: 400px;
            }
        }

        @media screen and (max-width:431px) {
            .complaint-set {
                min-width: 300px;
            }
        }

        @media screen and (max-width:831px) {
            .complaint-set {
                min-width: 0;
            }
        }