@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


*{
   margin:0;
    padding:0;
    box-sizing: border-box;
  }

  /*  */
  body{
    font-family: 'Poppins';
    display: flex;
    overflow-y: hidden;
    /* background-color:  #e8e6e6; */
    overflow-x:hidden;

}

.page{
    display:flex;
    width: 100%;
    height:100vh;
}

.left{
    min-width: 250px;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    padding: 20px 10px;
    border-radius: 0 25px 25px 0;
    position: relative;
    transition: all 0.7s ease;
    overflow-y: hidden;
    z-index: 7;
}

.profile{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.profile p{
    padding-top: 10px;
}

.page .left .profile .profile-pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page .left .profile .profile-pic img{
    width:150px;
    height:150px;
    border-radius: 50%;
    object-fit: cover;
}

.page .left .profile .name{
    color: white ;
}



.btn-set{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
}

.btn-set p{
    color: white;
}

.btn-set .auc p{
    
    color: #BB8A04;
}

.btn-set .auc{
    border: 2px solid #BB8A04;
    background-color: white;
}

.btn-set a{
    padding: 10px 20px;
    background-color: #212121;
    border-radius: 30px;
    margin-bottom: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.btn-set a img{
    width:40px;
    padding-right: 15px;
}

.btn-set a:hover{
   opacity: 0.5;

}

.left .lgout{
    display: flex;
    align-items: center;
    justify-content: center;
}

.left .lgout a{
    text-decoration: none;
    font: bold;
    color: #BB8A04;
    font-size: large;
    border: 2px solid #BB8A04;
    padding: 5px 50px;
    border-radius: 20px;
}




.right{
    flex: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.right-heading{
    padding: 15px 15px 0 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%; 
    align-items: center;
    position: sticky;
    top: 0; 
    background-color: rgba(255, 255, 255, 0.669);
    backdrop-filter: blur(15px);
    z-index: 8;
}

.right-side h1{
    border-bottom: 2px solid #BB8A04;
    margin: 0 20px;
}

.right-side .backbtn img{
    height: 40px;
    width:50px;
 }



.vogue {
    width: 200px;
}

.right-side{
    display: flex;
    align-items: center;
}



.bars{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
}


.bars img{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.page-name{
    display: flex;
    align-items: center;
    justify-content: center;
}

.back{
    display: flex;
    align-items: center;
    justify-content: center;
}



/* with respect to the search bar */
.search{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
   
}


/* for search bar */
.search-bar {
    display: flex;
    position: relative;
    z-index: 1;
    margin: 0 10px;
}

.search-bar>input {
    height: 40px;
    padding: 3px 15px;
    font-size: large;
    border-radius: 20px;
}



.search-bar>input:focus {
    outline: none;
}

.search-bar img {
    position: absolute;
    width: 30px;
    background-color: #E5E9E7;
    z-index: 2;
    top: 7px;
    right: 17px;

}


#filter-cancel-button{
  padding: 7px;
  background-color: #222;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

#filter-cancel-button:hover{
  background-color: #444;
  transform: scale(1.1);
}






  /*  */

  .auction-page-row{
    position: relative;
    overflow-y: scroll;
    height: 600px;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin-left: 10px;
    left: 0;
  }

  .flip-card {
    background-color: transparent;
    width: 150px;
    height: 150px;
    perspective: 1000px;
    margin:15px;
    border-radius: 20px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
     box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 20px;

  }

  .flip-card-front img{
    width:150px;
    height:150px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);

  }
  
  /* .flip-card-front {
    background-color: #bbb;
    color: black;
  } */
  
  .flip-card-back {
    background-color: #BB8A04;
    color: white;
    transform: rotateY(180deg);
  }

  .flip-card-back .arti-id{
    font-size: 25px;
    color: #000000;
    font-weight: bold;
  }



/* filter section */

.filter-and-article-set {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }


/* filter css */

  .outer-filter{
    display: none;
    overflow-y: hidden;
    right: 0;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    /* flex: 4; */
    min-width: 230px;
    max-width: 230px;
    margin-top: 20px;
  }



          /* Styles for filter section */
          #filter-section {
            /* background-color: #fff; */
            border-radius: 5px;
            padding: 10px;
          }
          
          .li{
            display: flex;
            flex-direction: column;
          }

          #filter-section .ul {
            margin: 0;
            padding: 0;
            list-style: none;
          }

          #filter-section .ul .li {
            margin-bottom: 4px;
          }
          #filter-section .ul .li input,#filter-section .ul .li select {
            padding:8px;
            font-size: large;
            border-radius: 5px;
          }
          
          .button-set{
            display: flex;
            justify-content: space-around;
            margin-top: 10px;
          }
          #filter-section button {
            /* width:100%; */
            padding: 10px 20px;
            background-color: #222;
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
          }

          #filter-button:hover {
            background-color: #444;
          }


          #filter-popup{
           padding: 10px 20px;
            background-color: #222;
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
            margin-right: 10px;
        }

        #filter-popup:hover {
            background-color: #444;
            transform: scale(1.1);
          }
          
.filter-cancel-button{
                /* width:100%; */
    padding: 7px 0px;
    background-color: #222;
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.filter-cancel-button:hover {
   background-color: #444;
}




  .hide{
    display: none;
 }

 .profile-hidden{
    filter:brightness(50%);
    cursor:pointer;
}

.hidden{
    display:none;
}

.visible{
   display: block;
}


@media screen and (max-width:1188px) {
  .vogue {
      width: 100px;
  }
  .right-side h1{
      font-size: medium;
  }

  
  .right-side .backbtn img{
      height: 30px;
      width:40px;
   }
   
  .left{
      z-index: 60;
      position: absolute;
      margin-top: 55px;
      height: 94vh;
      border-radius: 0 ;
  }

  .inside-page{
    padding:0;
  }


  .bars img{
      width: 20px;
      height: 20px;
      border-radius: 5px;
  }

  .right{
    overflow-y: scroll;
  }


}

@media screen and (max-width:721px) {
  .right-heading{
    padding-bottom:10px;
  }
}

@media screen and (max-width:458px) {
  .search-bar{
    margin-top:5px;
  }
}