
.complaint-table {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
}

.complaint-set {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 6px 0;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    float: left;
}

.cus-details {
    display:flex;
    align-items: center;
    justify-content: space-between;
    /* float: left; */
    padding: 5px 0;
}

.cus-name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    
}

.cus-name .from {
    /* margin-right: 5px; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.cus-name .name {
    margin-right: 5px;
}


.date-time {
    display: flex;
    font-style: oblique;
}

.complaint {
    display: flex;
    float: left;
}



.check-box input {
    margin-left: 5px;
    width: 18px;
    height: 18px;
    color: black;
}

.check-box input {
    background-color: #2196F3;
}