
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins';
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden;
}

.page{
    display:flex;
    width: 100%;
    height:100vh;
}

.left{
    min-width: 250px;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    padding: 20px 10px;
    border-radius: 0 25px 25px 0;
    position: relative;
    transition: all 0.7s ease;
    overflow-y: hidden;
    z-index: 7;
}

.hide{
   display: none;
}

.profile{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.profile p{
    padding-top: 10px;
}

.page .left .profile .profile-pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page .left .profile .profile-pic img{
    width:150px;
    height:150px;
    border-radius: 50%;
    object-fit: cover;
}

.btn-set{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
}
.btn-set .dash{
    border: 2px solid #BB8A04;
    background-color: white;
}

.btn-set .dash p{
    color:#BB8A04;
}

.btn-set .staf p{
    color: #BB8A04;

}

.btn-set .staf{
    border: 2px solid #BB8A04;
    background-color: white;
}

.btn-set a{
    padding: 10px 20px;
    background-color: #212121;
    border-radius: 30px;
    margin-bottom: 10px;
}

.btn-set a img{
    width:40px;
    padding-right: 15px;
}


.page .left .profile .name{
    color: white ;
}

.btn-set p{
    color: white;
}

.btn-set a{
    text-decoration: none;
    display: flex;
    align-items: center;
}

.btn-set a:hover{
    opacity: 0.5;
}

.left .lgout{
    display: flex;
    align-items: center;
    justify-content: center;
}

.left .lgout a{
    text-decoration: none;
    font: bold;
    color: #BB8A04;
    font-size: large;
    border: 2px solid #BB8A04;
    padding: 5px 50px;
    border-radius: 20px;
}




.right{
    flex: auto;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    position:relative;
    overflow-x: hidden;
}

.right-heading{
    padding: 5px 15px 0 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    position: sticky;
    top: 0; 
    background-color: rgba(255, 255, 255, 0.669);
    backdrop-filter: blur(15px);
    z-index: 8;
    
}

.right-side h1{
    border-bottom: 2px solid #BB8A04;
    margin: 0 20px;
}



.right-side .backbtn img{
    height: 40px;
    width:50px;
 }



.vogue {
    width: 200px;
}

.right-side{
    display: flex;
    align-items: center;
}


.bars img{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.bars{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
}


.search-filter{
    display: flex;
    flex-direction: column;
}


/* for search bar */
.search{
    display: flex;
    justify-content: space-between;
    margin:5px 0 5px 0px;
    padding: 8px 30px;
   
} 

.twobtns{
    display: flex;
    justify-content: center;
    align-items: center;
}

.auction-btn button{
    background-color: #BB8A04;
    color: white;
    margin-right: 14px;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    padding: 10px 25px;
    position: relative;
    display: inline-block;
    border-radius: 20px;
    border: none;
  }
  
  
  
  .auction-btn button .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 8px 15px;
    border-radius: 50%;
    background-color: red;
    color: black;
  }




  .warning-btn button{
    background-color: #BB8A04;
    color: white;
    margin-right: 10px;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    padding: 10px 25px;
    position: relative;
    display: inline-block;
    border-radius: 20px;
    border: none;
  }
  
  
  
  .warning-btn button .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 8px 15px;
    border-radius: 50%;
    background-color: red;
    color: black;
  }



 input[type=text] {
    width: 120px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 20px;
    background-color: black;
    color:white;
    /* background-image: url('http://localhost/vogueMy/public/img/search-icon.png'); */
    background-repeat: no-repeat;
    padding: 10px 20px 12px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }

  input[type=text]:focus {
    background-color: white;
    color:black;
    width: 100%;
  }


  .hide{
    display: none;
  }
  
/* .search-bar>input::placeholder {
    color: rgba(82, 82, 82, 0.608);
} */




.filter-set{
    display: flex;
}






.table{
     margin:5px 10px 0 10px;

}

/* locker table */
.table-section{
    height:520px;
    overflow-y:scroll;
    overflow-x: hidden;
    padding: 0 5px 10px 5px;
    
}

table{
    width: 100%;
    min-width: 1000px;
    border-collapse: collapse;
}

#myTable img{
    width:100px;
}

tbody img{
    width:20px;
    height:40px;
}

thead th{
    position: sticky;
    top: 0;
    background-color: #f6f9fc;
    color: black;
    font-size: 20px;
    padding:20px;
}

thead th{
    padding:5px;
}

td{
    padding: 10px 10px;
    word-break: break-all;
    text-align: center;
}

button{
    padding: 10px;
}



tr:hover td{
    background-color: #f1f1f1;
    transform: scale(1.02);
    transition:all 0.5s;
    z-index: 20;
    
}


td a:nth-child(1){
    text-decoration: none;
    color: white;
    border-radius: 20px;
    padding: 3px 14px;
    background-color: #BB8A04;
}

.passEndDate{
    text-decoration: none;
    color: white;
    border-radius: 20px;
    padding: 3px 14px;
    background-color: black !important;
}

.passRedeemedDate{
    text-decoration: none;
    color: white;
    border-radius: 20px;
    padding: 3px 14px;
    background-color: red !important;
}


::-webkit-scrollbar{
    height:5px;
    width:5px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}





@media screen and (max-width:1188px) {
    .vogue {
        animation: none;
        width: 100px;
    }
    .right-side h1{
        font-size: large;
        margin: 0 10px ;
    }

    .right-side .backbtn img{
        height: 30px;
        width:40px;
     }
     
    .left{
        height: 94vh;
        z-index: 60;
        position: absolute;
        margin-top: 55px;
        border-radius: 0;
    }
 
    .right{
        padding-left: 15px;
    }

    .bars img{
        width: 20px;
        height: 20px;
        border-radius: 5px;
    }

    .right-heading{
        padding: 15px 15px 0 15px;
        
    }
    
}

@media screen and (max-width:1038px){
    .table-section{
        overflow-y:scroll;
        overflow-x: scroll;
        
    }
}

@media screen and (max-width:638px) {
    .search{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .search-bar{
        margin-bottom: 10px;
    }

    .filter-set{
        margin-bottom: 10px;
    }

    
    
}




.profile-hidden{
    filter:brightness(50%);
    cursor:pointer;
}

.hidden{
    display:none;
}