@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


.pawn-page{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4,1fr);
}
 
.jewellery-card{
    background-color: white;
    position: relative;
    width: 80%;
    height: 64%;
    padding: 2%;
    padding-bottom: 2%;
    /* border: solid 1px #bb8a04; */
    border-radius: 20px;
    /* margin-left: 5%; */
    box-shadow: 0 2px 20px rgb(0 0 0 / 15%);
}
.jewellery-img{
    width: 100%;
    height: 65%;
    overflow: hidden;
}
.jw-img{
    width: 100%; 
    height: 100%;
     object-fit: cover;
    border-radius: 10px;
}

.jw-details{
    
    display: flex;
    flex-direction: column;
}
.jw-date-name{
    display: flex;
    justify-content: space-between; 
}
.jw-date{
   
    margin-bottom: 5%;
}
.status-pending{
    color:#bb8a04 ;
}
.status{
    color:rgb(255, 255, 255) ;
    padding: 1% 3%;
    border-radius: 10px;
    font-size: 0.9em;
}


.jw-status{
    display: flex;
    gap: 50%;
    margin-bottom: 5%;
}

.jw-dt{
    color:rgb(158, 158, 158);
    font-weight:400;
}

.jw-st{
    color:rgb(168, 168, 62);
    font-weight:600;
}

.v-btn {
    border: solid 1px #bb8a04;
    color: #bb8a04;
    background-color: white;
    padding: 3%;
    cursor: pointer;
    border-radius: 20px;
    margin: 5% 20%;
    position: absolute;
    /* top: 0; */
    /* bottom: 0; */
    right: 0;
    left: 0;
    display: none;
    
}
.jewellery-card:hover .v-btn{
    display: block;
  
     
   
}
.v-btn:hover{
    background-color: #bb8a04;
    color: white;
}
.jewellery-card:hover{
    border: 1px solid #b7b7b7;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}
.tag-overdue {
    background-color: #ff01018a;
  } 
  .tag-pending {
    background-color: #bb8a048c;
  } 
  .tag-auctioned {
    background-color: #0000007d;
  }
  .tag-completed {
    background-color: #4bcf6c7d;
  }
  .tag-retrieved {
    background-color: #5452527d;
  }
  
  









.card {
    margin: 10px;
    background-color: #fff;
    /* border:1px solid #bb8a04; */
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(187, 138, 4, 0.2);
    overflow: hidden;
    width: 20%;
  }
  .card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    /* min-height: 250px; */
  }
  
  .tag {
    background: #cccccc;
    border-radius: 50px;
    font-size: 12px;
    margin: 0;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
    cursor: pointer;
  }

  .card-body p {
    font-size: 13px;
    margin: 0 0 40px;
  }
   