/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.side-info,
body{
    display: flex;
    flex-direction: column;
}

.invo-title {
    background: #bb8a04;
    padding: 20px;
    text-align: center;
    color: white;
}
.logo-pic{
margin: 0% auto;
    width: 15%;
}
.info-slip{
display: flex;
}
.side-info{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border: #bb8a04 solid 1px;
    margin: 2%;
    align-self: center;
    padding: 3%;
    border-radius: 20px;
}
.paytbl{
    text-align: center;
    margin: 2% 5%; 
}
.total-slip{
    background-color: antiquewhite;
}
th,td{
    padding: 1%;
}
.total-info{
    background-color: rgb(216, 210, 200);
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.side-info,
body{
    display: flex;
    flex-direction: column;
}

.invo-title {
    background: #bb8a04;
    padding: 20px;
    text-align: center;
    color: white;
}
.logo-pic{
margin: 0% auto;
    width: 15%;
}
.info-slip{
display: flex;
}
.tbl1{ 
    margin: 4% auto;
    padding: 2%;
    text-align: left;
    border: 1px solid #bb8a04;
    border-radius: 20px;
}
label{
    margin: 2%;
}
td,th {
    height: 50px;
    vertical-align: middle;
    text-align: center;
  }
  
.side-info{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border: #bb8a04 solid 1px;
    /* margin: 2%; */
    align-self: center;
    /* padding: 3%; */
    border-radius: 20px;
}
.paytbl{
    text-align: center;
    margin: 2% auto; 

} 
.paytbl td,.paytbl th{
    width: 200px;
}
.total-slip{
    background-color: antiquewhite;
} 
.total-info{
    background-color: rgb(216, 210, 200);
}