
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins';
    background-image: url("http://localhost/vogueMy/public/img/img5.jpg");
    background-repeat: none;
    background-size: cover;
}

.whole-new-passwd-form{
    display: flex;
    align-self: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.left-side-of-new-passwd{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:85px 100px;
    background-color: white;
    border-radius: 20px 0 0 20px;

}

.left-side-of-new-passwd label{
    font-size: x-large;
    font-weight: bold;
    padding:10px;
}

.left-side-of-new-passwd .label-welcome{
    font-size: xxx-large;
}

.left-side-of-new-passwd .label-back-to{
    margin-bottom: 80px;
}

.left-side-of-new-passwd img{
    width: 200px;
}

@keyframes logo {
    0%   {transform: rotateY(0);}
    50%  {transform: rotateY(360deg);}
    100%  {transform: rotateY(0);}
}

.vogue {
    animation-name: logo;
    animation-duration:18s;
    width: 200px;
    animation-iteration-count: infinite;
}

.right-side-of-new-passwd{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 0 20px 20px 0;
    opacity: 0.5;
}

.right-side-of-new-passwd .title-part{
    display: flex;
    align-items: center;
    margin: auto;
    padding: 0 0;
}

.title-part span{
    font-size:x-large;
    font-weight: 1000;
    color: rgb(44, 47, 50);

}

.right-side-of-new-passwd form a{
    display:flex;
     align-items:center; 
     justify-content:center;
   padding-top: 20px;
   text-decoration: none;
   color: rgb(16, 16, 16);
}

.right-side-of-new-passwd form a:hover{
    text-decoration:underline;
}

.input-field-part{
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
}

#manager-new-passwd-btn{
background-color: rgb(16, 16, 16);
  color: #c29006;
  border-radius: 25px;
  padding: 14px 20px;
  margin-top: 30px;
  margin-bottom: 8px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: large;
  font-weight: bold;
}

input[type=password] {
    width: 250px;
    padding: 10px 60px;
    margin-bottom: 8px;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 20px;
    background: transparent;
  }

  input[type=password]:focus:focus{
    width: 250px;
    padding: 10px 60px;
    margin-bottom: 8px;
    display: inline-block;
    box-sizing: border-box;
    outline: none;
    border: none;
    background: transparent;
    border-radius: 20px;
    border-bottom: 2px solid rgb(196, 18, 18);
  }
  


#manager-new-passwd-btn:hover {
    opacity: 0.8;
  }


@media screen and (max-width: 775px) {
    .left-side-of-new-passwd img{
        width: 180px;
    }

    .left-side-of-new-passwd{
        padding:85px 80px;
    }
    
    .left-side-of-new-passwd label{
        font-size: large;
        font-weight: bold;
        padding:10px;
    }
}

@media screen and (max-width: 730px) {
    .left-side-of-new-passwd{
        display: none;
    }

    .right-side-of-new-passwd{
        border-radius: 20px;
    }

    .title-part span{
        padding-top: 25px;
    }
}

@media screen and (max-width: 330px){
    input[type=password] {
        width: 200px;
        /* padding: 10px 70px; */
    }

    input[type=password]:focus:focus{
            width: 200px;
            /* padding: 10px 70px; */
        
    
    }
}



.border-red{
    border-bottom: 2px solid rgb(181, 17, 17) !important;
}

.border-green{
    border-bottom: 2px solid green !important;
}