* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
}

.wrapper {
    height: 100%;
    width: 100%;
}

.wrapper .header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.header .title {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}

.header .title img {
    height: 35px;
    margin-right: 20px;
    cursor: pointer;
}

.header .title h1 {
    border-bottom: 3px solid #bb8a04;
    height: fit-content;
}

.header .logo img {
    width: 200px;
    height: 60px;
}

.wrapper .form-wrapper {
    width: 100vw;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px 20px;
}

.wrapper .form-wrapper form {
    margin: 0 20px;
    border: 2px solid #bb8a04;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border-radius: 20px;
    padding: 20px;    
    background-image: url("../img/register_customer.svg");
    background-size: 300px;
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 60%;
}

.wrapper .form-wrapper .form-wrap {
    margin-bottom: 20px;
}

.wrapper .form-wrapper .form-wrap label {
    font-weight: 700;
}

.wrapper .form-wrapper .form-wrap label sup {
    color: #ff0000;
}

.wrapper .form-wrapper .form-wrap input {
    width: 100%;
    margin: 2px 5px;
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 20px;
    outline: none;
    border: 1.5px solid #fffee0;
    background: #fffee0;
    /* color: #bb8a04; */
}

/* .wrapper .form-wrapper .form-wrap input::-webkit-input-placeholder {
    color: #bb8a04;
} */

.wrapper .form-wrapper .form-wrap input:focus,
.wrapper .form-wrapper .form-wrap input:hover {
    border-color: #bb8a04;
}

.wrapper .form-wrapper .form-wrap .invalid-feedback {
    color: #ff0000;
    font-size: 12px;
    left: 20px;
}

.wrapper .form-wrapper .fullname {
    display: flex;
    justify-content: space-between;
}

.wrapper .form-wrapper .fullname input {
    width: 50%;
}

.wrapper .form-wrapper .fullname .is-invalid {
    border-color: #ff0000;
}

.wrapper .form-wrapper .form-wrap .gender {
    display: flex;
    margin-top: 8px;
}

.wrapper .form-wrapper .form-wrap .gender input[type="radio"] {
    width: 30px;
}

.wrapper .form-wrapper .form-wrap .gender label {
    display: flex;
    margin: 0 40px 0 20px;
    font-weight: 400;
}

.wrapper .form-wrapper .register {
    display: flex;
    justify-content: center;
}

.wrapper .form-wrapper .register input {
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 20px;
    border: 2px solid #bb8a04;
    background: #bb8a04;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    user-select:none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}

.wrapper .form-wrapper .register input:hover {
    transform: translateY(-5px);
    transition-duration: 0.1s;
    background-color: #cecece;
    color: #bb8a04;
}

.wrapper .form-wrapper .register input:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
}

.wrapper .form-wrapper .register input:active:after {
    box-shadow: 0 0 0 0 white;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
}

.wrapper .form-wrapper .register input:active {
    top: 1px;
}

.invalid {
    width: 80%;
    border-radius: 10px;
    text-align: center;
    color: rgb(255, 14, 14);
    background: rgb(255 199 199);
    margin: auto;
    font-size: 1vw;
}

.success {
    width: 80%;
    border-radius: 10px;
    text-align: center;
    color: #836000;
    background: #f9dc8b;
    margin: auto;
}

.msg-flash {
    margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
    .wrapper .form-wrapper form {
        background-image: none;
    }
}

@media screen and (max-width: 440px) {
    .header .logo img {
        width: 150px;
        height: 50px;
    }

    .wrapper .form-wrapper form {
        width: 100vw;
    }

    .wrapper .form-wrapper .fullname input {
        width: 100%;
    }

    .wrapper .form-wrapper .fullname {
        display: block;
        margin-right: 20px;
    }

    .wrapper .form-wrapper .form-wrap .gender label {
        margin: 0 10px 0 10px;
    }

    .wrapper .form-wrapper {
        margin-left: 25%;
    }

    .wrapper .form-wrapper {
        margin-left: 0;
    }
}

@media screen and (max-width: 390px) {
    .header .logo img {
        width: 130px;
        height: 45px;
    }

    .header .title h1 {
        font-size: 24px;
    }

    .header .title img {
        height: 25px;
    }
}
