* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
}

body, html {
    height: 100%;
}

.wrapper {
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
}

.wrapper .header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #fff;
    width: 100%;
    position: static;
    height: fit-content;
    margin-bottom: 10px;
}

.header .title {
    display: flex;
    padding: 10px;
    height: fit-content;
}

.header .title img {
    height: 35px;
    margin-right: 20px;
    cursor: pointer;
}

.header .title h1 {
    border-bottom: 3px solid #bb8a04;
    height: fit-content;
}

.header .logo {
    height: fit-content;
}

.header .logo img {
    width: 200px;
    height: 60px;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

main .left-wrapper {
    /* background: #dbdbdb; */
    padding: 60px 20px 20px 100px;
}

main .left-wrapper h2 {
    border-bottom: 2px solid #bb8a04;
    width: fit-content;
}

main .left-wrapper .item-details {
    padding: 10px 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    border-bottom: 2px solid #dddddd;
}

main .left-wrapper .item-details .field {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    width: 300px;
}

main .left-wrapper .item-details .field label {
    font-weight: 600;
}

main .left-wrapper .item-details img {
    width: 200px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 5px -1px, rgba(0, 0, 0, 0.3) 0px 5px 5px -1px;
    margin: 20px;
}

main .left-wrapper .loan-details {
    padding: 20px 30px;
}

main .left-wrapper .loan-details div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
}

main .left-wrapper .loan-details label {
    font-size: 23px;
    font-weight: 600;
}

main .left-wrapper .loan-details div .amount {
    font-size: 26px;
    color: red;
}

main .right-wrapper {
    padding: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .right-wrapper .form-wrapper {
    width: 500px;
    background: #dddddd;
    padding: 50px;
}

main .right-wrapper .form-wrapper .div-form {
    background: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

main .right-wrapper .form-wrapper .div-form .form-title {
    padding: 20px;
    text-align: center;
    background: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

main .right-wrapper .form-wrapper .div-form form {
    padding: 30px 50px;
}

main .right-wrapper .form-wrapper .div-form form .field-wrapper {
    margin-bottom: 20px;
}

main .right-wrapper .form-wrapper .div-form form .field-wrapper label {
    font-weight: 600;
}

main .right-wrapper .form-wrapper .div-form form .field-wrapper sup {
    color: #ff0000;
}

main .right-wrapper .form-wrapper .div-form form .field-wrapper .input-wrapper input {
    width: 100%;
    height: 40px;
    padding: 0 20px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #dddddd;
    background: #e5e5e5;
}

main .right-wrapper .form-wrapper .div-form form .field-wrapper .input-wrapper input::-webkit-input-placeholder {
    font-size: 14px;
}

main .right-wrapper .form-wrapper .div-form form .field-wrapper .btn-save {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background: #bb8a04;
    color: #fff;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #bb8a04;  
    text-decoration: none;
    margin-top: 40px;
}

/* .wrapper .form-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0 20px;
}

.wrapper .article-details {
    padding: 15px 20px;
    width: 80%;
    border: 2px solid #bb8a04;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
}

.wrapper .article-details p {
    font-size: 1.2rem;
    font-weight: 550;
}

.wrapper .article-details img {
    height: 120px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.wrapper .form-header {
    width: fit-content;
    height: fit-content;
    border-bottom: 3px solid #bb8a04;
    margin-bottom: 20px;
}

.wrapper .payment-details {
    width: 35%;
    border: 2px solid #bb8a04;
    border-radius: 20px;
    padding: 20px 30px;
}

.wrapper .payment-details .field-wrapper {
    margin-bottom: 10px;
}

.wrapper .payment-details .field-wrapper label {
    font-weight: 600;
}

.wrapper .payment-details .field-wrapper label sup {
    color: #ff0000;
}

.wrapper .payment-details .field-wrapper .input-wrapper {
    margin-top: 5px;
}

.wrapper .payment-details .field-wrapper .input-wrapper input {
    width: 100%;
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    background: #fffee0;
}

.wrapper .payment-details .remaining-amount {
    width: 100%;
    height: 70%;
    color: #bb8a04;
    font-size: 45px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .form-container .btn {
    text-align: center;
    text-decoration: none;
    width: 120px;
    padding: 10px;
    border: 2px solid #bb8a04;
    border-radius: 25px;
    font-size: 17px;
    font-weight: 600;
    margin-top: 40px;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease 0s;
}

.wrapper .form-container .save {
    background: #bb8a04;
    color: #fff;    
}

.wrapper .form-container .cancel {
    background: #fff;
    color: #bb8a04;
}

.wrapper .form-container .btn:hover {
    color: #bb8a04;
    background-color: #000;
    transform: translateY(-5px);
} */
