* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
}

.wrapper {
    height: 100%;
    width: 100%;
}

.wrapper .bcg-img {
    position: absolute;
    z-index: -9;
    right: 0;
    width: 400px;
    bottom: 100px;
}

.wrapper .header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.header .title {
    display: flex;
    padding: 10px;
}

.header .title img {
    height: 35px;
    margin-right: 20px;
    cursor: pointer;
}

.header .title h1 {
    border-bottom: 3px solid #bb8a04;
    height: fit-content;
}

.header .logo img {
    width: 200px;
    height: 60px;
}

main {
    width: 100%;
    height: calc(100vh - 85px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

main .details-container {
    background: #bb8a04;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px;
    width: 800px;
}

main .details-container .left-wrapper,
main .details-container .right-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .details-container .left-wrapper .field-container {
    margin-bottom: 15px;
}

main .details-container .left-wrapper .field-container label {
    font-weight: 600;
    font-size: 18px;
    color: antiquewhite;
}

main .details-container .left-wrapper .field-container div {
    margin-left: 40px;
    color: #fff;
    font-weight: 600;
}

main .details-container .right-wrapper {
    background: #fff;
}

main .details-container .right-wrapper form {
    width: 100%;
    padding: 20px 30px;
}

main .details-container .right-wrapper .form-divider {
    margin-bottom: 20px;
}

main .details-container .form-title {
    margin-bottom: 10px;
}

main .details-container .right-wrapper .field-container {
    margin-bottom: 10px;
}

main .details-container .right-wrapper .field-container label {
    font-weight: 600;
}

main .details-container .right-wrapper .field-container div {
    margin-top: 5px;
}

main .details-container .right-wrapper .loan-details {
    border-top: 2px solid #ddd;
    padding-top: 15px;
}

main .details-container .right-wrapper .field-container .pay-method label {
    font-weight: 500;
    font-size: 15px;
}

main .details-container .right-wrapper .div-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

main .details-container .right-wrapper .div-btn input[type="submit"] {
    background: #bb8a04;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    border: 2px solid #bb8a04;
    border-radius: 5px;
    box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.14), 0px 0px 19px 14px rgba(0,0,0,0.03);
    cursor: pointer;
}

main .details-container .right-wrapper .div-btn input[type="submit"]:hover {
    transform: translateY(-5px);
}

#custom-button {
    padding: 6px 10px;
    color: white;
    background: #000;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    top: 5px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
}

#custom-button:hover {
    background: #bb8a04;
}

main .details-container .right-wrapper .article-details select,
main .details-container .right-wrapper .article-details .file-container {
    width: 100%;
    font-size: 15px;
    padding: 0 10px;
    border: 2px solid #faebd7;
    height: 35px;
    background: #faebd7;
}

main .details-container .right-wrapper .article-details .file-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .details-container .right-wrapper .loan-details .pay-method {
    display: flex;
    justify-content: space-evenly;
}