* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
}

.wrapper .header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.header .title {
    display: flex;
    padding: 10px;
}

.header .title img {
    height: 35px;
    margin-right: 20px;
    cursor: pointer;
}

.header .title h1 {
    border-bottom: 3px solid #bb8a04;
    height: fit-content;
}

.header .logo img {
    width: 200px;
    height: 60px;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

main .left-wrapper {
    /* background: #dbdbdb; */
    padding: 60px 20px 20px 100px;
}

main .left-wrapper h2 {
    border-bottom: 2px solid #bb8a04;
    width: fit-content;
}

main .left-wrapper .item-details {
    padding: 10px 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    border-bottom: 2px solid #dddddd;
}

main .left-wrapper .item-details .field {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    width: 300px;
}

main .left-wrapper .item-details .field label {
    font-weight: 600;
}

main .left-wrapper .item-details img {
    width: 200px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 5px -1px, rgba(0, 0, 0, 0.3) 0px 5px 5px -1px;
    margin: 20px;
}

main .left-wrapper .due-payment {
    padding: 20px 30px;
}

main .left-wrapper .due-payment div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 3px;
}

main .left-wrapper .due-payment label {
    font-size: 23px;
    font-weight: 600;
}

main .left-wrapper .due-payment div .due-date,
main .left-wrapper .due-payment div .amount {
    font-size: 26px;
    color: red;
}

main .right-wrapper {
    padding: 20px;
    height: 100%;
}

main .right-wrapper .full-amount {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 0 30px 50px;    
    background: #e4e4e4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

main .right-wrapper .full-amount label {
    font-weight: 600;
    font-size: 30px;
}

main .right-wrapper .full-amount .amount {
    color: #bb8a04;
    font-weight: 600;
    font-size: 40px;
}

main .right-wrapper .table-container {
    margin: 30px;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);    
    height: 300px;  
}

main .right-wrapper .table-container .table-title {
    padding: 10px 20px;
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 0 0 10px;
}

main .right-wrapper .table-container .table-title h2 {
    border-bottom: 2px solid #bb8a04;
    width: fit-content;
}

main .right-wrapper .table-container .div-table-validated {
    height: 80%;
    overflow-x: auto;
    padding: 10px;
}

main .right-wrapper .table-container .div-table-appointments {
    height: 60%;
    overflow-x: auto;
    padding: 10px;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    padding: 10px;
}

thead tr {
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

thead td {
    font-weight: 600;
}

td {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    color: #222;
    text-align: center;
}

tr td:last-child {
    display: flex;
    align-items: center;
}

.right-wrapper .btn-container {
    width: 100%;
    padding: 0 30px;
}

.right-wrapper .btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-wrapper .btn-container .button {
    width: 180px;
    background: #bb8a04;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0;
    border: 2px solid #bb8a04;
    border-radius: 25px;
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.5);
    margin: 20px 0;
}

.right-wrapper .btn-container .button:hover {
    transform: translateY(-5px);
    color: #bb8a04;
    border-color: #bb8a04;
    background: #fff;
}

@media only screen and (max-width: 1145px) {
    .payment-history h2,
    .payments-amount h2 {
        font-size: 22px;
    }

    .payments-amount .content {
        font-size: 22px;
    }
} 

@media only screen and (max-width: 1040px) {
    .wrapper .payment-details {
        grid-template-columns: repeat(1, 1fr);
    }

    .form-container .due-pay {
        margin-bottom: 0;
    }

    .payments-amount {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-gap: 20px;
    }
}

@media only screen and (max-width: 805px) {
    .payments-amount {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
}

@media only screen and (max-width: 640px) {
    .wrapper .article-details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
} 

@media only screen and (max-width: 580px) {
    .form-container .button {
        width: 150px;
        font-size: 15px;
        padding: 10px 0;
    }
}
