* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
}

.wrapper {
    height: 100%;
    width: 100%;
}

.wrapper .header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.header .title {
    display: flex;
    padding: 10px;
}

.header .title img {
    height: 35px;
    margin-right: 20px;
    cursor: pointer;
}

.header .title h1 {
    border-bottom: 3px solid #bb8a04;
}

.header .logo img {
    width: 200px;
    height: 60px;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

main .left-content,
main .right-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .left-content .article-details {
    width: 400px;
    background: #bb8a04;
    padding: 20px;
    border-radius: 25px;
}

main .left-content .article-details .div-img {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

main .left-content .article-details .div-img img {
    width: 250px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 5px -1px, rgba(0, 0, 0, 0.3) 0px 5px 5px -1px;
}

main .left-content .article-details .div-details {
    width: 100%;
    padding: 20px 40px;
}

main .left-content .article-details .div-details .field {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

main .left-content .article-details .div-details .field label {
    font-weight: 600;
}

main .right-content .form-wrapper {
    background: #fff;
    width: 450px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    margin: 30px 0;
}

main .right-content .form-wrapper .form-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ddd;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

main .right-content .form-wrapper form {
    padding: 0px 50px 30px;
}

main .right-content .form-wrapper form .field-wrapper {
    margin-top: 20px;
}

main .right-content .form-wrapper form .field-wrapper label sup {
    color: #ff0000;
}

main .right-content .form-wrapper form .field-wrapper .input-wrapper {
    margin-top: 5px;
}

main .right-content .form-wrapper form .field-wrapper .wrapper-weight {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .right-content .form-wrapper form .field-wrapper .input-wrapper input {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

main .right-content .form-wrapper form .field-wrapper .div-error {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

main .right-content .form-wrapper form .field-wrapper .input-wrapper select  {
    width: 150%;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-left: 10px;
}

main .right-content .form-wrapper form .field-wrapper .status {
    margin: 5px 0 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

main .right-content .form-wrapper form .btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

main .right-content .form-wrapper form .btn-container .btn-submit {
    width: 100%;
    background: #bb8a04;
    color: #fff;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 5px;
    border: none;
    margin: 10px 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 5px -1px, rgba(0, 0, 0, 0.3) 0px 5px 5px -1px;
}

main .right-content .form-wrapper form .btn-container .btn-submit:hover {
    transform: translateY(-5px);
}

.invalid-feedback {
    color: #ff0000;
    font-size: 12px;
    left: 20px;
}

.is-invalid {
    border: 1px solid #ff0000;
}
