* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: sans-serif;
}

.body {
    width: 100vw;
    height: 100vh;
}

.sidebar {
    width: 230px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background: #000000;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    z-index: 100;
    transition: width 300ms;
}

.sidebar-brand {
    display: block;
    text-align: center;
    margin: 40px 0px;
}

.sidebar-brand img {
    width: 140px;
}

.sidebar-brand h3 {
    margin: 10px 0px 20px;
    text-align: center;
    color: #bb8a04;
}

.sidebar-menu {
    margin-top: 5rem;
}

.sidebar-menu li {
    width: 100%;
    margin-bottom: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-menu li a {
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border-radius: 20px;
    background: #333333;
    color: #fff;
    column-gap: 10px;
    border: 1px solid transparent;
}

.sidebar-menu li a img {
    width: 30px;
}

.sidebar-menu li .active {
    background: #bb8a04;
}

.sidebar-menu li a:hover {
    border: 1px solid #bb8a04;
}

.sidebar-menu .btn-logout {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 50px;
    border-top: 2px solid #bb8a04;
}

.sidebar-menu .btn-logout .logout {
    border: 2px solid #bb8a04;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #bb8a04;
    border-radius: 20px;
    margin-top: 50px;
}

#side-toggle {
    display: none;
}

#side-toggle:checked + .sidebar {
    left: -230px;
}

#side-toggle:checked ~ .main-content {
    margin-left: 0;
}

#side-toggle:checked ~ header {
    margin-left: 0;
}

#side-toggle:checked ~ .main-content header {
    width: 100%;
    left: 0;
}

.main-content {
    transition: margin-left 300ms;
    margin-left: 230px;
}

header {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 10px 30px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: calc(100vw - 230px);
    left: 230px;  
    top: 0;
    z-index: 100;
    transition: width 300ms;
}

header .menu-bar {
    cursor: pointer;
}

header span img {
    width: 30px;
    height: 30px;
}

header .page-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    width: 200px;
    height: 65px;
}

header h1 {
    border-bottom: 3px solid #bb8a04;
    margin-left: 20px;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 85px;
    padding: 1rem;
    background: #fff;
    min-height: calc(100vh - 85px);
}

main .right-content {
    width: 100%;
}

/* main .right-content .div-search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px 0 20px;
} */

.right-content .div-search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 45px;
    border-radius: 25px;
    background: #ddd;
    margin: 20px 50px 0;
    padding: 0 20px;
}

.right-content .div-search input {
    width: 100%;
    height: 100%;
    font-size: 16px;
    background: none;
    outline: none;
    border: none;
    padding: 0 20px;
}

.right-content .div-search img {
    height: 25px;
}

.right-content .div-search input::-webkit-input-placeholder {
    color: #4d4d4d;
}

main .right-content .tbl-details {
    width: 100%;
    padding: 20px 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    overflow-x: auto;
}

main .right-content .tbl-details table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); 
}

main .right-content .tbl-details table thead th {
    width: fit-content;
    background-color: #dac17bb0;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    padding: 15px;
}

main .right-content .tbl-details table td {
    text-align: center;
}

main .right-content .tbl-details table tbody tr {
    border-bottom: 1px solid #dddddd;
}

main .right-content .tbl-details table tbody tr:nth-of-type(even) {
    background: #f3f3f3;
}

main .right-content .tbl-details table tbody tr:last-child {
    border-bottom: none;
}

main .right-content .tbl-details table tbody tr:hover {
    background: #c6c6c6;
}

main .right-content .tbl-details table tbody tr img {
    height: 80px;
    margin: 10px;
    border-radius: 20px;
}

@media only screen and (max-width: 1000px) {
    main .right-content .tbl-details table thead th {
        padding: 15px 8px;
    }
}

@media only screen and (max-width: 1000px) {
    main .right-content .tbl-details table {
        font-size: 14px;
    }
}

@media only screen and (max-width: 840px) {
    
    #side-toggle + .sidebar {
        left: -230px;
    }
    #side-toggle:checked + .sidebar {
        left: 0px;
        height: calc(100vh - 75px);
        top: 75px;
    }
    
    #side-toggle ~ .main-content {
        margin-left: 0;
    }
    
    #side-toggle ~ header {
        margin-left: 0;
    }
    
    #side-toggle ~ .main-content header {
        width: 100%;
        left: 0;
    }
}

@media only screen and (max-width: 640px) {
    main .right-content .tbl-details table thead th {
        font-size: 12px;
    }
}

@media only screen and (max-width: 580px) {
    header {
        padding: 5px 10px 10px;
        align-items: center;
    }

    header img {
        width: 150px;
        height: 45px;
    }

    #side-toggle:checked + .sidebar {
        left: 0px;
        height: calc(100vh - 60px);
        top: 60px;
    }

    main .right-content .tbl-details {
        overflow-x: auto;        
    }

    main .right-content .tbl-details table {
        width: 500px;
        margin-left: 20%;
    }

    main .right-content .div-search div {
        width: 100%;
        margin: 0 20px;
    }
}

@media only screen and (max-width: 580px) {
    main .right-content .tbl-details table {
        margin-left: 0;
    }

    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

    td { 
		border: none;
		border-bottom: 1px solid #ddd; 
		position: relative;
        padding: 10px 0 10px 50%;        
	}

    td:last-child {
        border-bottom: 2px solid #b3b3b3;
    }

    td:before { 
		position: absolute;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;      
        font-weight: 600;
        font-style: italic;  
	}

    main .right-content .tbl-details table tbody tr {
        background: #f3f3f3;
    }

    main .right-content .tbl-details table tbody tr:nth-of-type(even) {
        background: #dac17bb0;
    }

    td:nth-of-type(1):before { content: "Article Image"; }
	td:nth-of-type(2):before { content: "Validation ID"; }
	td:nth-of-type(3):before { content: "Type"; }
	td:nth-of-type(4):before { content: "Weight (g)"; }
	td:nth-of-type(5):before { content: "Carats"; }
	td:nth-of-type(6):before { content: "Estimated Value (Rs.)"; }
	td:nth-of-type(7):before { content: "Validation Status"; }
	td:nth-of-type(8):before { content: "Gold Appraiser ID"; }
}

@media only screen and (max-width: 390px) {
    main .right-content .div-search div {
        width: 100%;
        height: 40px;
        padding: 10px;
    }

    main .right-content .div-search input::-webkit-input-placeholder {
        font-size: 12px;
    }

    header h1 {
        font-size: 28px;
        width: fit-content;
        margin-right: 20px;
    }

    main .right-content .div-search img {
        height: 15px;
    }
}

@media only screen and (max-width: 330px) {
    td:before {
        font-size: 12px;
    }

    header span img {
        width: 20px;
        height: 20px;
    }

    header h1 {
        font-size: 24px;
    }
}
