* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
}

.wrapper .header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.header .title {
    display: flex;
    padding: 10px;
}

.header .title img {
    height: 35px;
    margin-right: 20px;
    cursor: pointer;
}

.header .title h1 {
    border-bottom: 3px solid #bb8a04;
    height: fit-content;
}

.header .logo img {
    width: 200px;
    height: 60px;
}

main .main-content {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: wrap;
}

main .main-content .div-details {
    width: 100%;
    padding: 30px;
    margin: 20px;
    max-width: 500px;
    border: 2px solid #bb8a04;
    background: #bb8a04;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border-radius: 20px;
}

main .main-content .div-details .div-img {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-content .div-details .div-img img {
    max-height: 170px;
    max-width: 250px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

main .main-content .div-details .article-details,
main .main-content .div-details .pawning-details,
main .main-content .div-details .loan-details,
main .main-content .div-details .div-buttons {
    width: 100%;
    padding: 0 20px;
}

main .main-content .div-details .field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    flex-wrap: wrap;
}

main .main-content .div-details .field label {
    font-weight: 600;
}

main .main-content .div-details .div-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

main .main-content .div-details .div-buttons button {
    text-decoration: none;
    background: #fff;
    width: 160px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #bb8a04;
    border: 2px solid #bb8a04;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

main .main-content .div-details .div-buttons button:hover {
    color: #5f4702;
    border-color: #5f4702;
    transform: translateY(-5px);
    transition: 0.5s;
    opacity: 0.7;
}

