* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
}

body, html {
    height: 100%;
}

.wrapper {
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
}

.wrapper .header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #fff;
    width: 100vw;
    position: static;
    height: fit-content;
    margin-bottom: 10px;
}

.header .title {
    display: flex;
    padding: 10px;
    height: fit-content;
}

.header .title img {
    height: 35px;
    margin-right: 20px;
    cursor: pointer;
}

.header .title h1 {
    border-bottom: 3px solid #bb8a04;
    height: fit-content;
}

.header .logo {
    height: fit-content;
}

.header .logo img {
    width: 200px;
    height: 60px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* main .main-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
}

main .left-wrapper,
main .right-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

main .left-wrapper .div-details {    
    background: #bb8a04;
    width: 100%;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

main .left-wrapper .div-details .article-details,
main .left-wrapper .div-details .due-payment {
    padding: 20px;
    background: #faebd7;
    border-radius: 20px;
    width: 100%;
}

main .left-wrapper .div-details .article-details .article-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
} 

main .left-wrapper .div-details .article-details .article-image img {
    width: 200px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 5px -1px, rgba(0, 0, 0, 0.3) 0px 5px 5px -1px;
    margin: 20px;
}

main .left-wrapper .div-details .article-details .field-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

main .left-wrapper .div-details .article-details .field-wrapper {
    width: 100%;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

main .left-wrapper .div-details .article-details .field-container label {
    font-weight: 600;
}

main .left-wrapper .div-details .due-payment {
    margin-top: 20px;
}

main .left-wrapper .div-details h2 {
    border-bottom: 2px solid #bb8a04;
    width: fit-content;
    margin-bottom: 20px;
}

main .left-wrapper .div-details .due-payment div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 3px;
}

main .left-wrapper .due-payment label {
    font-size: 23px;
    font-weight: 600;
}

main .left-wrapper .due-payment div .due-date,
main .left-wrapper .due-payment div .amount {
    font-size: 26px;
    color: red;
}

main .right-wrapper {
    padding: 20px;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

main .right-wrapper {
    padding: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .right-wrapper .form-wrapper {
    width: 500px;
    background: #dddddd;
    padding: 50px;
}

main .right-wrapper .form-wrapper .div-form {
    background: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

main .right-wrapper .form-wrapper .div-form .form-title {
    padding: 20px;
    text-align: center;
    background: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

main .right-wrapper .form-wrapper .div-form form {
    padding: 30px 50px;
}

main .right-wrapper .form-wrapper .div-form form .field-wrapper {
    margin-bottom: 20px;
}

main .right-wrapper .form-wrapper .div-form form .field-wrapper label {
    font-weight: 600;
}

main .right-wrapper .form-wrapper .div-form form .field-wrapper sup {
    color: #ff0000;
}

main .right-wrapper .form-wrapper .div-form form .field-wrapper .input-wrapper input {
    width: 100%;
    height: 40px;
    padding: 0 20px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #dddddd;
    background: #e5e5e5;
}

main .right-wrapper .form-wrapper .div-form form .field-wrapper .input-wrapper input::-webkit-input-placeholder {
    font-size: 14px;
}

main .right-wrapper .form-wrapper .div-form form .field-wrapper .btn-save {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background: #bb8a04;
    color: #fff;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #bb8a04;  
    text-decoration: none;
    margin-top: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

main .right-wrapper .form-wrapper .div-form form .field-wrapper .btn-save:hover {
    transform: translateY(-5px);
    
}

@media only screen and (max-width: 1175px) {
    main .left-wrapper {
        
        padding: 20px 60px;
    }
}

@media only screen and (max-width: 900px) {
    main {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width: 720px) {
    main .left-wrapper .item-details {
        justify-content: center;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 640px) {
    main .left-wrapper .loan-details div {
        width: 100%;
    }

    main .left-wrapper .loan-details div .amount {
        margin-left: 50px;
    }
}

@media only screen and (max-width: 530px) {
    main .right-wrapper .form-wrapper {
        width: 100%;
    }
} */