* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
}

.wrapper {
    height: 100%;
    width: 100%;
}

.wrapper .header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.header .title {
    display: flex;
    padding: 10px;
}

.header .title img {
    height: 35px;
    margin-right: 20px;
    cursor: pointer;
}

.header .title h1 {
    border-bottom: 3px solid #bb8a04;
    height: fit-content;
}

.header .logo img {
    width: 200px;
    height: 60px;
}

main {
    height: calc(100vh - 85px);    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

main .main-container {
    overflow-y: auto;
}

main .main-container .loan-details {
    width: 400px;
    background: #bb8a04;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    margin: 30px;
}

main .main-container .loan-details .amount {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

main .main-container .loan-details .amount label {
    color: #585858;
}

main .main-container .loan-details .amount div {
    font-size: 40px;
    color: #faebd7;
}

main .main-container .div-form {
    padding: 30px;
    background: #ddd;
    border-radius: 10px;
    border: 1px solid #bb8a04;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

main .main-container .div-form .title {
    text-align: center;
    margin-bottom: 30px;
}

main .main-container .div-form .title h2 {
    
}

main .main-container .div-form form .input-container {
    margin-bottom: 10px;
}

main .main-container .div-form form .input-container input {
    width: 100%;
    padding: 8px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 15px;
}

main .main-container .div-form form .div-btn {
    margin-top: 40px;
}

main .main-container .div-form form .div-btn input {
    background: #bb8a04;
    color: #faebd7;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #bb8a04;
}

main .main-container .div-form form .div-btn input:hover {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    opacity: 0.8;
    border-color: #976f03;
    transform: translateY(-5px);
    transition: 0.5s;
}

.invalid {
    width: 80%;
    border-radius: 10px;
    text-align: center;
    color: rgb(255, 14, 14);
    background: rgb(255 199 199);
    margin: auto;
    font-size: 1vw;
}

.success {
    width: 80%;
    border-radius: 10px;
    text-align: center;
    color: #836000;
    background: #f9dc8b;
    margin: auto;
}

.msg-flash {
    margin-bottom: 10px;
}
