* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
}

.wrapper .header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.header .title {
    display: flex;
    padding: 10px;
}

.header .title img {
    height: 35px;
    margin-right: 20px;
    cursor: pointer;
}

.header .title h1 {
    border-bottom: 3px solid #bb8a04;
    height: fit-content;
}

.header .logo img {
    width: 200px;
    height: 60px;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

main .left-wrapper,
main .right-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: wrap;
}

main .left-wrapper .div-details {
    padding: 30px;
    width: 500px;
    border: 2px solid #bb8a04;
    background: #ddd;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border-radius: 20px;
}

main .left-wrapper .div-details .div-img {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .left-wrapper .div-details .div-img img {
    max-width: 250px;
    max-height: 170px;
}

main .left-wrapper .div-details .article-details {
    width: 100%;
    padding: 0 20px;
}

main .left-wrapper .div-details .field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    flex-wrap: wrap;
}

main .left-wrapper .div-details .field label {
    font-weight: 600;
}



