* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
}

.wrapper {
    height: 100%;
    width: 100%;
}

.wrapper .bcg-img {
    position: absolute;
    z-index: -9;
    right: 0;
    width: 400px;
    bottom: 100px;
}

.wrapper .header {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0;
}

.header .title {
    display: flex;
    padding: 10px;
}

.header .title img {
    height: 35px;
    margin-right: 20px;
    cursor: pointer;
}

.header .title h1 {
    border-bottom: 3px solid #bb8a04;
    height: fit-content;
}

.header .logo img {
    width: 200px;
    height: 60px;
}

main {
    width: 100%;
    height: calc(100vh - 85px);
    display: flex;
    padding: 0 20px 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

main .form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    box-shadow: 0 5px 30px #000;
    width: 60%;
    border-radius: 20px;
}

main .form-container .left-wrapper,
main .form-container .right-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .form-container .left-wrapper {
    background: #bb8a04;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

main .form-container .left-wrapper img {
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

main .form-container .right-wrapper {
    background: #bb8a04;
    padding: 40px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

main .form-container .right-wrapper form {
    padding: 20px;
    background: rgba(45, 45, 45, 0.3);
    width: 100%;
    border-radius: 20px;
}

main .form-container .right-wrapper form .field-container {
    width: 100%;
    margin-top: 15px;
}

main .form-container .right-wrapper form .field-container label {
    width: 100%;
    font-weight: 600;
}

main .form-container .right-wrapper form .field-container label sup {
    color: #f00;
}

main .form-container .right-wrapper form .field-container div {
    margin-top: 5px;
    width: 100%;
    padding: 0 10px;
}

main .form-container .right-wrapper form .field-container select,
main .form-container .right-wrapper form .field-container input[type="text"] {
    width: 100%;
    background: #faebd7;
    padding: 8px 10px;
    border: 2px solid #faebd7;
    border-radius: 5px;
    height: 35px;
}

main .form-container .right-wrapper form .div-email {
    margin-bottom: 20px;
}

main .form-container .right-wrapper form .field-container .choose-image {
    width: 100%;
    background: #faebd7;
    padding: 8px 10px;
    border: 2px solid #faebd7;
    border-radius: 5px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .form-container .right-wrapper form .field-container .choose-image #choose {
    background: #000;
    color: #faebd7;
    padding: 4px 8px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

main .form-container .right-wrapper form .field-container .choose-image #img-name {
    font-size: 13px;
}

main .form-container .right-wrapper form .div-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
}

main .form-container .right-wrapper form .div-submit .btn-submit {
    width: 100%;
    padding: 8px;
    color: #bb8a04;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    border: 2px solid #bb8a04;
    cursor: pointer;
}

main .form-container .right-wrapper form .div-submit .btn-submit:hover {
    background: #4d4d4d;
}

.invalid {
    width: 80%;
    border-radius: 10px;
    text-align: center;
    color: rgb(255, 14, 14);
    background: rgb(255 199 199);
    margin: auto;
    font-size: 1vw;
}

.success {
    width: 80%;
    border-radius: 10px;
    text-align: center;
    color: #836000;
    font-size: 1vw;
    background: #f9dc8b;
    margin: auto;
}

.msg-flash {
    /* margin-bottom: 10px; */
}

.is-invalid {
    border: 2px solid #f00;
    border-color: #f00;
}

.invalid-feedback {
    color: #f00;
    font-size: 12px;
}
