@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

body{
    font-family: 'Poppins';
    display: flex;
    overflow-y: hidden;
}

.page{
    display:flex;
    width: 100%;
    height:100vh;
}

.right{
    flex: auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    position:relative;
}

.right-heading{
    padding: 15px 15px 0 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    position: sticky;
    top: 0; 
    background-color: rgba(255, 255, 255, 0.669);
    backdrop-filter: blur(15px);
    z-index: 8;
}

.right-side h1{
    border-bottom: 2px solid #BB8A04;
    margin: 0 20px;
}

.right-side .backbtn img{
    height: 40px;
    width:50px;
 }


.vogue {
    width: 200px;
}

.right-side{
    display: flex;
    align-items: center;
}

::placeholder{
    color:#000000;
}



.content-page{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.three-sets{
    display: flex;
    flex-wrap: wrap;
}

.left-set{
    display: flex;
    flex-direction: column;
    /* margin:10px; */

}
.locker-des{
    display: flex;
    justify-content: space-around;   

}

.locker-des .left-of-des-box{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.locker-des .locker-info{
   display: flex;
   align-items: space-between;
   justify-content: space-between;
   padding:10px
}

.locker-des .locker-info .change-color{
    color: white;
    padding: 1% 6%;
    background: #34b33499;
    border-radius: 20px;
}

.locker-des .locker-info .red-color{
    color: white;
    padding: 1% 6%;
    background: #34b33499;
    border-radius: 20px;
}
.locker-des .locker-info .field-name{
    display: flex;
    margin-right: 20px;
    font-weight: bold;
}

.locker-des .locker-info .field-value{
    display: flex;
    font-style: oblique;
}

.locker-des-with-header{
    display: flex;
    flex-direction: column;
    /* border: 1px solid #bb8a04; */
    border-radius: 20px;
    box-shadow: 0 4px 8px 4px rgba(0,0,0,0.2);  
    padding: 20px;
    margin: 10px;
}

.locker-des-header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px 10px 10px;
    font-size: x-large;
    border-bottom: 2px solid #BB8A04;
    
  }

  /*  */
.right-set{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin:10px;
    padding: 10px;
    background-color: #FFE499;
    overflow-x: hidden;
    min-width: 300px;
    float: left;
    box-shadow: 0 4px 8px 4px rgba(0,0,0,0.2);  

}

.right-set .payment-history-topic{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #BB8A04;
    font-size: x-large;
    padding-bottom: 5px;
    font-weight: bold;
}





/* payment History Table */
.table-sec{
    padding: 0 5px 0 5px;
    overflow-x: hidden;
    overflow-y: scroll;
    height:500px;
    
}

#myTable{
    width: 100%;
    /* height: 200px; */
    /* min-width: 1000px; */
    border-collapse: collapse;
    z-index: 10;
}
#myTable thead th{
    position: sticky;
    top: 0;
    background-color: #f6f9fc;
    /* color: #8493a5; */
    color:black;
    font-size: 15px;
    z-index: 20;
}

#myTable th, #myTable td{
    padding: 10px 20px;
    word-break: break-all;
    text-align: center;
}

#myTable tr td{
    z-index: -10;
}


#myTable tr:hover td{
        background-color: #f1f1f1;
        transform: scale(1.02);
        transition:all 0.5s;
        /* z-index: -100; */
}



.articles{
    display: flex;
    align-items: center;
    justify-content: center;
}

.lock-items{
    /* border: 1px solid #BB8A04; */
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: 300px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px 4px rgba(0,0,0,0.2);  
    
}

.top{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 50px;
    border-bottom: 2px solid goldenrod;
}
.arti-log{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.lock-items .arti img{
    box-shadow: 0 4px 8px 4px rgba(0,0,0,0.2);  
    width:150px;
    height:150px;
    object-fit: cover;
    /* padding:10px; */
    border-radius: 10px;

}

.lock-items .arti img:hover{
   transform: scale(1.1);
}






@media screen and (max-width:1192px) {
    .right{   
        overflow-y: scroll;
    }
    
    .two-sets{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .vogue {
        animation: none;
        width: 100px;
    }
    .right-side h1{
        font-size: large;
        margin: 0 10px ;
    }

    .right-side .backbtn img{
        height: 30px;
        width:40px;
     }
     
    .left{
        height: 94vh;
        z-index: 60;
        position: absolute;
        margin-top: 55px;
        border-radius: 0;
    }
 
    .right{
        padding-left:0;
    }

    .bars img{
        width: 20px;
        height: 20px;
        border-radius: 5px;
    }

    .right-heading{
        padding: 15px 15px 0 15px;
        
    }

    .three-sets{
        display: flex;
        flex-direction: column;
    }

    .left-set{
        display: flex;
        flex-direction: column;
    }

}


@media screen and (max-width:756px){
  .arti-log{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
    height:800px;
  }

  .top{
    margin-bottom: 10px;
  }

  .lock-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .lock-items .arti img{  
    width:100px;
    height:100px;
    margin:10px;

}
  
}

@media screen and (max-width:754px){
     .right-set{
        display: none;
     }
}




@media screen and (max-width:539px){
    .locker-des{
        display: flex;
        flex-direction: column;
    }
}


@media screen and (max-width:329px){
    .locker-des .left-of-des-box{
        margin-right: 3px;
    }
    .locker-des .locker-info{
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       padding:10px
    }
    
    .locker-des .locker-info .change-color{
        color: white;
        padding: 1% 6%;
        background: #34b33499;
        border-radius: 20px;
    }
    .locker-des .locker-info .field-name{
        margin-right: 0;
    }
    
    
    .locker-des-with-header{ 
        padding: 10px;
        margin: 10px;
        width:280px;
    }
    
    .locker-des-header{
        font-size: large;
      }

      .lock-items{
        width:280px;

      }
}


