@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

body{
    font-family: 'Poppins';
    display: flex;
    overflow-y: hidden;
}

.page{
    display:flex;
    width: 100%;
    height:100vh;
}

.right{
    flex: auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
    position:relative;
}

.right-heading{
    padding: 15px 15px 0 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    position: sticky;
    top: 0; 
    background-color: rgba(255, 255, 255, 0.669);
    backdrop-filter: blur(15px);
    z-index: 8;
}

.right-side h1{
    border-bottom: 2px solid #BB8A04;
    margin: 0 20px;
}

.right-side .backbtn img{
    height: 40px;
    width:50px;
 }



.vogue {
    width: 200px;
}

.right-side{
    display: flex;
    align-items: center;
}

.content-page{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}


.two-sets{
    display: flex;
}


/*  */
.right-set{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin:30px;
    padding: 10px;
    background-color: #FFE499;
    overflow-x: hidden;
    min-width: 300px;
    float: left;
    box-shadow: 0 4px 8px 4px rgba(0,0,0,0.2);  

}

.right-set .payment-history-topic{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid goldenrod;
    font-size: x-large;
    padding-bottom: 5px;
    font-weight: bold;
}





/* payment History Table */
.table-sec{
    margin-top: 20px;
    padding: 0 5px 0 5px;
    overflow-x: hidden;
    overflow-y: scroll;
    height:500px;
    max-height:500px;
    
}

#myTable{
    width: 100%;
    border-collapse: collapse;
    /* z-index: 10; */
}
#myTable thead th{
    position: sticky;
    top: 0;
    background-color: #f6f9fc;
    /* color: #8493a5; */
    color:black;
    font-size: 15px;
    /* z-index: 20; */
}

#myTable th, #myTable td{
    padding: 10px 20px;
    word-break: break-all;
    text-align: center;
}

#myTable tr td{
    z-index: -10;
}


#myTable tr:hover td{
        background-color: #f1f1f1;
        transform: scale(1.02);
        transition:all 0.5s;
        /* z-index: -100; */
}
/*  */







.left-box{
    display: flex;
    flex-direction: column;
    /* border: 2px solid goldenrod; */
    border-radius: 10px;
    padding:20px;
    margin: 30px;
    box-shadow: 0 4px 8px 4px rgba(0,0,0,0.2);  

}

.article-details-topic{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
    border-bottom: 2px solid goldenrod;
    padding-bottom: 5px;

}

.article-image{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid goldenrod; */
    padding:10px;
}

.article-image img{
   display: flex;
   object-fit: cover;
   width:300px;
   height:200px;
}

.article-des{
    display: flex;
    flex-direction: column;
    padding:10px;
    height: 300px;
    overflow-y: scroll;
}

.article-info{
    display: flex;
    justify-content:space-between;
    padding:10px
}

.article-info .field-name{
    display: flex;
    font-weight: bold;
    margin-right: 40px;
}

.article-info .field-value{
    display: flex;
    font-style: oblique;
    /* align-items: flex-start; */
}


@media screen and (max-width:1188px) {
    .right{   
        overflow-y: scroll;
    }
    
    .two-sets{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .vogue {
        animation: none;
        width: 100px;
    }
    .right-side h1{
        font-size: large;
        margin: 0 10px ;
    }

    .right-side .backbtn img{
        height: 30px;
        width:40px;
     }
     
    .left{
        height: 94vh;
        z-index: 60;
        position: absolute;
        margin-top: 55px;
        border-radius: 0;
    }
 
    .right{
        padding-left:0;
    }

    .bars img{
        width: 20px;
        height: 20px;
        border-radius: 5px;
    }

    .right-heading{
        padding: 15px 15px 0 15px;
        
    }

}


@media screen and (max-width:804px){
    .left-box{
        padding:0;
        margin: 30px 0 0 0;
        
    }

    .right-set{
        margin:30px 0 0 0;
        padding: 0;
    
    }


    .table-sec{
        padding: 0;
    }
    
    #myTable{
        width: 100%;
    }
    #myTable thead th{
        position: sticky;
        top: 0;
        background-color: #f6f9fc;
        /* color: #8493a5; */
        color:black;
        font-size: 10px;
        /* z-index: 20; */
    }
    
}

@media screen and (max-width:668px){
.right-set{
    display: none;
}
}
