<div class="container">
    <div class="activate page-btn">
        <img class="page-btn-img" src="<?php echo URLROOT?>/img/home-gold.png">
        <h4 class="page-btn-text gold-text">Dashboard</h4>
    </div>
    <div class="page-btn inactive-btn">
        <img class="page-btn-img" src="<?php echo URLROOT?>/img/home.png">
        <h4 class="page-btn-text">Pawn Articles</h4>
    </div>
    <div class="page-btn inactive-btn">
        <img class="page-btn-img" src="<?php echo URLROOT?>/img/home.png">
        <h4 class="page-btn-text">My Locker</h4>
    </div>
    <div class="page-btn inactive-btn" id="appointment">
        <img class="page-btn-img" src="<?php echo URLROOT?>/img/home.png">
        <h4 class="page-btn-text">Appointments</h4>
    </div>
    <hr>
    <div class="page-btn inactive-btn">
        <img class="page-btn-img" src="<?php echo URLROOT?>/img/home.png">
        <h4 class="page-btn-text">Contact Us</h4>
    </div>
    <div class="page-btn inactive-btn">
        <img class="page-btn-img" src="<?php echo URLROOT?>/img/home.png">
        <h4 class="page-btn-text">About</h4>
    </div>
</div>